.data-row-header {
    background: #E97E15 0% 0% no-repeat padding-box;
}

.data-row-header * {
    font: normal Poppins 600 15px/19px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.data-row {
    /* border: 1px solid #B2C7D7; */
    border-top: none !important;
}

.data-row * {
    font: normal Poppins bold 15px/18px;
    letter-spacing: 0px;
    /* color: #000000; */
}

.extra-header {

    background-color: #963814;
    font: normal Poppins 16px/25px;
}

.middle_line {
    margin-top: 1px;
}

tr td {
    /* background-color:rgb(0, 26, 255); */
    /* color: rgb(0, 26, 255); */
    text-align: left;
    vertical-align: middle;

}
td {
    /* min-width: 93px; */
    min-width: 185px;
}
.sn-td-report
{
    min-width: 85px !important;
}

.v2 {
    /* background-color: red; */
    color: red;
}

.page-numbers,
.page-numbers:focus,
.page-numbers:active {
    outline: none !important;
    border: 1px solid #E97E15;
    box-shadow: none !important;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    font: normal normal bold 18px/22px Roboto;
    letter-spacing: 0px;
    color: #E97E15;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.page-numbers.active {
    border: none !important;
    background: #E97E15 0% 0% no-repeat padding-box !important;
    color: #FFFFFF !important;
}

.enter-page-wrapper {
    width: 211px;
    height: 47px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E97E15;
    border-radius: 5px;
}

.enter-page-wrapper input {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    height: 44px;
    border-radius: 5px;
    width: calc(100% - 75px);
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
}

.enter-page-wrapper input.active {
    color: #000000 !important;
}

.enter-page-wrapper button {
    width: 72px !important;
    height: 40px !important;
    margin-top: 2.5px;
}

@media screen and (min-width:640px) and (max-width: 700px) {
    .next-paginate {
        margin-top: -48px;
        position: absolute;
        left: 88px;
    }
}

.states_detail:nth-child(odd) {
    color: rgb(255, 0, 0) !important;
}

.states_detail:nth-child(even) {
    color: rgb(0, 26, 255);
}

/* td {
    min-width: 93px;
}
 */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* padding-left: 40px; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffafa;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.left-heading {
    text-align: left;
    font: normal Poppins;
    letter-spacing: 0px;
    color:  #2329ff;
    font-weight: 600;
    opacity: 1;
}


.search_txt {
    text-align: left;
    font: normal Poppins;
    letter-spacing: 0px;
    color:  #2329ff;
    font-weight: 600;
    opacity: 1;
}
.search_text{
    text-align: left;
   font: normal Poppins;
   letter-spacing: 0px;
   color:  #2329ff;
   font-weight: 600;
   opacity: 1;
}
td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    cursor: pointer;
}
.disabledfield{
    pointer-events: none;
}
.input1{
    margin-left: -28px;
}
.drop1{
    margin-right: -28px;
    padding-top: 10px;
}
.custom-divider1 {
  background-color: #8B2E14;
  width: 99%;
  font-size: 16px;
  border-radius: 2px;
  height: 48px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-weight: 500;
}

.form-button.search {
  height: 46px;
  width: 250px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  background-color: #8B2E14 0% 0% no-repeat padding-box;

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.red-export-btn {
  background-color: #B64B1D;
  color: white;
  border: none;
}


.search-input {
  width: 400px;
  max-width: 100%;
}

.position-relative {
  padding-right: 16px;
}

.search-export-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
  }
  .form-button.search {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-export-container {
    flex-direction: column;
    align-items: stretch;
  }
  .position-relative {
    padding-right: 0;
    width: 100%;
  }
  .form-button.search {
    width: 100%;
  }
}
.filter{
    margin-bottom: -30px;
}

.filter-btn {
  background-color: #f26522; 
  color: white; 
  font-weight: 500;
  border: none;
  border-radius: 4px;          
  padding: 8px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0;
}

.filter-btn i {
  margin-right: 8px; 
  font-size: 16px;
}

.filter-btn:hover {
  background-color: #d9541f; 
}
.filting{
    margin-left: -12px;
}

.disabledfield {
    background-color: #e9ecef;
    pointer-events: none;
}
.table td,
.table th {
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  vertical-align: top;
}
.now{
white-space: nowrap;
}
.height{
    height: 61px !important;
}