<div class="main-inventory">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 title-inventory pl-2 pb-3 pt-0">
            <span class="ml-3">
                PD/PC or BSPC Login Screen
            </span>
            <form [formGroup]="ngForm">

                <!-- first card ui  -->
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="row card-inventory form-group align-items-end">
                        <!-- Year of Indent -->
                        <div class="col-12 col-xl-10 col-md-12 col-lg-12 pt-4">
                            <div class="row">
                                <!-- year of indent -->
                                <div class="col-12 col-md-12 col-lg-12 col-xl-4 col-sm-12 mb-3 ">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="year" class="label-inventory required">Year</label>
                                        </div>
                                        <div class="col-12">
                                            <select class="form-control input-inventory" formControlName="year">
                                                <option value="">Please Select Year</option>

                                                <option *ngFor="let year of inventoryYearData" [value]="year.year">
                                                    {{ year.year }}
                                                </option>
                                                <!-- <option value="2029-30">2029-30</option>
                                                <option value="2028-29">2028-29</option> -->
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <!-- season  -->
                                <div class="col-12 col-md-12 col-lg-12 col-xl-4 col-sm-12 mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="year" class="label-inventory required">Season</label>
                                        </div>
                                        <div class="col-12">
                                            <select class="form-control input-inventory" formControlName="season">
                                                <option value="">Please Select Season</option>
                                                <option *ngFor="let s of inventorySeasonData" [value]="s.season">
                                                    {{ s.season }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- crop -->
                                <div class="col-12 col-md-4 col-lg-4 col-sm-12 mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="year" class="label-inventory required">Crop</label>
                                        </div>
                                        <div class="col-12">
                                            <select class="form-control input-inventory" formControlName="crop_code">
                                                <option value="">Please Select Crop</option>
                                                <option *ngFor="let c of inventoryCropData" [value]="c.crop_code">
                                                    {{ c.crop_name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-2 col-lg-2 col-sm-12 col-xl-2 px-2 mb-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <p><span style="color:transparent;">.</span></p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12 pl-2  pr-md-3">
                                    <!-- form-button btn-inventory search d-inline-flex justify-content-center verticle-content-middle mb-3 -->
                                    <button id="isSubmitBtn"
                                        class="form-button btn-inventory search d-inline-flex justify-content-center verticle-content-middle"
                                        (click)="getPageData()">Search</button>
                                    <!-- (click)="search()" -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- second ui  -->
                <div class="col-12 col-md-12 col-lg-12 pt-3" *ngIf="isCrop">
                    <div class="row card-inventory form-group">
                        <div class="col-12">
                            <div class="row">
                                <!-- Search and Filter Container -->
                                <div
                                    class="col-12 d-flex align-items-center justify-content-end flex-wrap mb-2 gap-3 pt-3">
                                    <!-- Search Input -->
                                    <div class="d-flex align-items-end gap-2 flex-wrap">
                                        <input type="text" class="form-control search-input rounded-pill px-3"
                                            placeholder="Search Keyword" formControlName="global_search"
                                            style="max-width: 250px; border: 1px solid #c96a2b; height: 38px;" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!--third ui -->
                <div class="col-12 col-md-12 col-lg-12 pt-0" *ngIf="isCrop">
                    <div class="row card-inventory form-group">
                        <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                            <div class="list-wrapper">
                                <!-- Header Row -->
                                <div class="row d-none d-md-flex data-row-header">

                                    <div
                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle  justify-content-center">
                                        S/No
                                    </div>

                                    <div
                                        class="col-md-3 d-flex align-items-center justify-content-center border-end justify-content-center">
                                        Variety Name
                                    </div>

                                    <div class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                        Target Breeder Seed Quantity (qtl)
                                    </div>

                                    <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle">
                                        Willingness
                                    </div>

                                    <div class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                        Tentative Breeder Seed Quantity (qtl)
                                    </div>

                                    <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle"
                                        *ngIf="!isFinalSubmitButtonHide">
                                        Add Replacement Varieties
                                    </div>
                                    <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle"
                                        *ngIf="isFinalSubmitButtonHide">
                                        Replacement Varieties
                                    </div>
                                </div>

                                <div style="max-height: 350px; overflow-x: hidden;
                            overflow-y: auto; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;">
                                    <!-- Dynamic Rows -->
                                    <div formArrayName="bspc" *ngIf="bspc && bspc.controls">
                                        <div class="row data-row" *ngFor="let data of bspc.controls; let i = index"
                                            [formGroupName]="i">
                                            <!-- S.No -->
                                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle  justify-content-center"
                                                [ngClass]="{'disabled-row':!isFinalSubmitButtonHide &&!ngForm.controls['bspc']['controls'][i].controls['status_toggle'].value}">
                                                <label class="d-md-none"><b>S.No:</b>&nbsp;</label>
                                                <span>{{ i + 1 }}</span>
                                            </div>

                                            <!-- Variety Name -->
                                            <div class="col-md-3 d-flex align-items-center justify-content-center border-end justify-content-center"
                                                [ngClass]="{'disabled-row': !isFinalSubmitButtonHide &&!ngForm.controls['bspc']['controls'][i].controls['status_toggle'].value}">
                                                <label class="d-md-none"><b>Variety Name:</b>&nbsp;</label>
                                                <span>
                                                    {{
                                                    ngForm.controls['bspc']['controls'][i].controls['variety_name'].value
                                                    }}
                                                </span>
                                            </div>

                                            <!-- Target Breeder Seed Quantity -->
                                            <div class="col-md-3 d-flex align-items-center justify-content-center border-end text-center"
                                                style="position: relative;">

                                                <div class="form-group w-100 px-2">
                                                    <label class="d-md-none">
                                                        <b>Target Breeder Seed Quantity:</b>
                                                    </label>

                                                    <!-- CLICK Event Only -->
                                                    <span (click)="onQuantityClick(i, $event)" class="quantity-link">
                                                        {{
                                                        ngForm.controls['bspc']['controls'][i].controls['total_seed_required'].value
                                                        }}
                                                    </span>

                                                    <!-- Popup ONLY when clicked -->
                                                    <div *ngIf="popupIndex === i" class="custom-popup">
                                                        <div *ngFor="let d of inventoryIndentorData">
                                                            <b>{{ d.user_name }}</b>: {{ d.breeder_seed }}
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                           
                                            <div
                                                class="col-6 col-md-1 py-3 d-flex align-items-center justify-content-center">

                                                <!-- TOGGLE (before final submit) -->
                                                <label class="switch small-switch mb-0"
                                                    *ngIf="!isFinalSubmitButtonHide">
                                                    <input type="checkbox" formControlName="status_toggle">
                                                    <span class="slider round"></span>
                                                </label>

                                                <!-- YES / NO (after final submit) -->
                                                <span *ngIf="isFinalSubmitButtonHide">
                                                    {{
                                                    ngForm.controls['bspc']['controls'][i].controls['status_toggle'].value
                                                    ? 'Yes' : 'No'
                                                    }}
                                                </span>

                                            </div>


                                            <!-- Tentative Breeder Seed Quantity -->
                                            <div class="col-md-3 d-flex align-items-center justify-content-center border-end justify-content-center "
                                                [ngClass]="{'disabled-row':!isFinalSubmitButtonHide && !ngForm.controls['bspc']['controls'][i].controls['status_toggle'].value}">
                                                <div class="form-group w-100 px-2">
                                                    <label class="d-md-none"><b>Tentative Quantity:</b>&nbsp;</label>
                                                    <span class="d-flex align-items-center justify-content-center"
                                                        *ngIf="isFinalSubmitButtonHide">
                                                        {{
                                                        ngForm.controls['bspc']['controls'][i].controls['tentative_quantity'].value
                                                        }}
                                                    </span> <input type="number" class="form-control target-input-field"
                                                        *ngIf="!isFinalSubmitButtonHide"
                                                        (keypress)="checkDecimal($event)"
                                                        (keypress)="checkLength($event, 10)"
                                                        formControlName="tentative_quantity"
                                                        [readonly]="isFinalSubmitButtonHide"
                                                        (input)="checkTentativeValue(i)" />

                                                </div>
                                            </div>

                                            <!-- Button Add Replacement Variety -->
                                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle"
                                                [ngClass]="{'disabled-row': ngForm.controls['bspc']['controls'][i].controls['status_toggle'].value}"
                                                *ngIf="!isFinalSubmitButtonHide" style="padding-right: 2rem!important;">
                                                <button
                                                    class="form-button d-flex justify-content-center verticle-content-middle"
                                                    style="width: 100px !important; background-color: #B64B1D; color: white; border: none; border-radius: 6px;"
                                                    [disabled]="bspc.controls[i].get('status_toggle')?.value === 1"
                                                    (click)="addReplaceVarieties(i)">
                                                    Add
                                                </button>


                                            </div>
                                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle"
                                                *ngIf="isFinalSubmitButtonHide" style="padding-right: 2rem!important;">


                                                <!-- FINAL SUBMIT KE BAAD REPLACE COUNT -->
                                                <a style="cursor:pointer; text-decoration: underline; color:#007bff;"
                                                    (click)="openReplaceSwal(bspc.controls[i].get('replaceVariety')?.value)">
                                                    {{ bspc.controls[i].get('replaceVariety')?.value?.length || 0 }}
                                                </a>
                                            </div>

                                            <div class="col-12 px-3"
                                                *ngIf="openCropIndexes.includes(i) && !isFinalSubmitButtonHide"
                                                formArrayName="replaceVariety">

                                                <div class="row inner-row variety-block"
                                                    *ngFor="let group of getInnerBspc(i).controls; let j = index"
                                                    [formGroupName]="j" style="margin-bottom:0; padding-top:0;">

                                                    <!-- Inputs Column -->
                                                    <div class="col-xl-11 col-12" style="padding:0;">
                                                        <div class="row g-2"> <!-- reduced gutter -->

                                                            <!-- Variety Name -->
                                                            <div class="col-12 col-md-6">
                                                                <label class="label-inventorys mb-1">Variety
                                                                    Name</label>
                                                                <div ngbDropdown
                                                                    class="d-inline-block w-100 position-relative">
                                                                    <button
                                                                        class="btn takeplacholder w-100 crop toggle-button text-start"
                                                                        [id]="'destination' + i" ngbDropdownToggle>
                                                                        {{ group.get('variety_name')?.value || 'Select
                                                                        Variety' }}
                                                                    </button>
                                                                    <i
                                                                        class="fa-solid fa-angle-down downicon position-absolute end-0 top-50 translate-middle-y pe-2"></i>
                                                                    <div ngbDropdownMenu class="w-100">
                                                                        <button type="button"
                                                                            class="dropdown-item text-start"
                                                                            *ngFor="let v of varietyData"
                                                                            (click)="selectReplaceVariety(i, j, v)">
                                                                            {{ v.variety_name }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Tentative Breeder Seed Qty -->
                                                            <div class="col-12 col-md-6">
                                                                <label class="label-inventorys mb-1">Tentative Breeder
                                                                    Seed
                                                                    Qty (QTL.)</label>
                                                                <input type="number" class="form-control"
                                                                    formControlName="replace_tentative_qty"
                                                                    placeholder="Enter Quantity">
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <!-- Buttons Column -->
                                                    <div class="col-xl-1 col-12 d-flex align-items-center"
                                                        style="display: flex;">
                                                        <button class="list-action-buttons-second ml-lg-3  mt-md-2 "
                                                            (click)="addInnerRow(i)">
                                                            <img src="assets/images/Add.png">
                                                        </button>
                                                        <button *ngIf="getInnerBspc(i).controls.length > 1"
                                                            class="list-action-buttons-second ml-lg-3  mt-md-2 "
                                                            (click)="removeInnerRow(i,j)">
                                                            <img src="assets/images/delete.png">
                                                        </button>
                                                    </div>

                                                    <!-- Separator Line -->
                                                    <div class="col-12 px-0" style="padding-top: 10px;">
                                                        <hr class="separator m-0">
                                                        <!-- added space -->
                                                    </div>

                                                </div>
                                            </div>



                                        </div>


                                    </div>
                                </div>

                            </div>

                            <!-- No Data Message -->
                         
                        </div>
                    </div>

                </div>
                <!-- fourth ui -->
                <div class="col-12 col-md-12 col-lg-12" *ngIf="isCrop ">
                    <div class="row card-inventory form-group align-items-end">
                        <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                            <div class="card-inventory-2 form-group mt-2 mb-2">
                                <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                                    <h6 class="pt-1 ">Add New Variety</h6>
                                    <p>Add new varieties here that you are capable of producing.
                                        This allows states to select alternate varieties in case the breeder seed
                                        for any planned variety cannot be produced.</p>

                                </div>

                            </div>



                        </div>

                    </div>
                </div>
                <div class="col-12 px-3" *ngIf="isCrop && !isFinalSubmitButtonHide" formArrayName="newVarieties">

                    <div class="row inner-row variety-block" *ngFor="let ele of newVarieties.controls; let i = index"
                        [formGroupName]="i" style="margin-bottom:0; padding-top:0;">

                        <div class="row w-100">

                            <!-- Variety Name -->
                            <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <label class="label-inventorys mb-1">Variety Name</label>
                                <div ngbDropdown class="d-inline-block w-100 position-relative">
                                    <button class="btn takeplacholder w-100 crop toggle-button text-start"
                                        [disabled]="isFinalSubmitButtonHide" [id]="'destination' + i" ngbDropdownToggle>
                                        {{ ele.get('variety_name')?.value || 'Select Variety' }}
                                    </button>
                                    <i
                                        class="fa-solid fa-angle-down downicon position-absolute end-0 top-50 translate-middle-y pe-2"></i>
                                    <div ngbDropdownMenu class="w-100">
                                        <button type="button" class="dropdown-item text-start"
                                            *ngIf="!isFinalSubmitButtonHide" *ngFor="let v of varietyData"
                                            (click)="selectVariety(i, v)">
                                            {{ v.variety_name }}
                                        </button>
                                        <span class="d-flex align-items-center justify-content-center"  *ngIf="!isFinalSubmitButtonHide" >  {{ v.variety_name }}</span>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Variety Name -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <label class="label-inventorys mb-1">Variety Name</label>

                                <!-- DROPDOWN (Before Final Submit) -->
                                <div ngbDropdown class="d-inline-block w-100 position-relative"
                                    *ngIf="!isFinalSubmitButtonHide">

                                    <button class="btn takeplacholder w-100 crop toggle-button text-start"
                                        [id]="'destination' + i" ngbDropdownToggle>
                                        {{ ele.get('variety_name')?.value || 'Select Variety' }}
                                    </button>

                                    <i
                                        class="fa-solid fa-angle-down downicon position-absolute end-0 top-50 translate-middle-y pe-2"></i>

                                    <div ngbDropdownMenu class="w-100">
                                        <button type="button" class="dropdown-item text-start"
                                            *ngFor="let v of varietyData" (click)="selectVariety(i, v)">
                                            {{ v.variety_name }}
                                        </button>
                                    </div>
                                </div>

                                <!-- TEXT ONLY (After Final Submit) -->
                                <span class="d-flex align-items-center py-2 fw-semibold"
                                    *ngIf="isFinalSubmitButtonHide">
                                    {{ ele.get('variety_name')?.value || '-' }}
                                </span>
                            </div>

                            <!-- Quantity -->
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <label class="label-inventorys mb-1">Tentative Breeder Seed Qty (QTL.)</label>
                                <input type="number" class="form-control" formControlName="new_tentative_quantity"
                                    [readonly]="isFinalSubmitButtonHide" placeholder="Enter Quantity" />
                            </div>

                            <!-- Additional Note -->
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <label class="label-inventorys mb-1">Additional Note</label>

                                <input type="text" class="form-control" formControlName="additional_note"
                                    [readonly]="isFinalSubmitButtonHide" placeholder="Enter Note" maxlength="200" />
                            </div>

                            <!-- Buttons -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-12 d-flex flex-wrap align-items-center pt-3"
                                style="gap: 15px;" *ngIf="!isFinalSubmitButtonHide">

                                <button *ngIf="newVarieties.controls.length==i+1" class="list-action-buttons-second"
                                    (click)="addNewVariety(i)">
                                    <img src="assets/images/Add.png">
                                </button>

                                <button *ngIf="newVarieties.controls.length != 1" class="list-action-buttons-second"
                                    (click)="removeNewVariety(i)">
                                    <img src="assets/images/delete.png">
                                </button>
                            </div>

                        </div>

                        <div class="col-12 px-0 mt-2">
                            <hr class="separator m-0">
                        </div>

                    </div>

                </div>

                <!-- Buttons -->
                <div class="col-12 col-md-12 col-lg-12 pt-0"
                    *ngIf="isCrop && isFinalSubmitButtonHide  && hasValidNewVariety()">

                    <div class="row card-inventory form-group">
                        <div class="col-12">

                            <div class="list-wrapper">

                                <!-- Header Row -->
                                <div class="row d-none d-md-flex data-row-header">

                                    <div class="col-md-1 py-3 d-flex justify-content-center">
                                        S/No
                                    </div>

                                    <div class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                        New Variety Name
                                    </div>

                                    <div class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                        Tentative Breeder Seed Quantity (qtl)
                                    </div>

                                    <div class="col-md-6 d-flex align-items-center justify-content-center border-end">
                                        Remarks
                                    </div>

                                </div>

                                <!-- Dynamic Rows -->
                                  <div style="max-height: 350px; overflow-x: hidden;
                            overflow-y: auto; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;">
                                <div formArrayName="newVarieties">
                                    <div class="row data-row" *ngFor="let ele of newVarieties.controls; let i = index"
                                        [formGroupName]="i">

                                        <!-- S.No -->
                                        <div class="col-md-1 py-3 d-flex justify-content-center">

                                            <label class="d-md-none"><b>S.No:</b>&nbsp;</label>
                                            <span>{{ i + 1 }}</span>
                                        </div>

                                        <!-- Variety Name -->
                                        <div
                                            class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                            <label class="d-md-none"><b>Variety Name:</b>&nbsp;</label>
                                            <span>

                                                {{
                                                ngForm.controls['newVarieties']['controls'][i].controls['variety_name'].value
                                                || '-' }}
                                            </span>
                                        </div>

                                        <!-- Tentative Quantity -->
                                        <div
                                            class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                            <label class="d-md-none"><b>Tentative Quantity:</b>&nbsp;</label>
                                            <span>

                                                {{
                                                ngForm.controls['newVarieties']['controls'][i].controls['new_tentative_quantity'].value
                                                || 0 }}
                                            </span>
                                        </div>

                                        <!-- Remarks -->
                                        <div
                                            class="col-md-6 d-flex align-items-center justify-content-center border-end">
                                            <label class="d-md-none"><b>Remarks:</b>&nbsp;</label>
                                            <span>
                                                {{ngForm.controls['newVarieties']['controls'][i].controls['additional_note'].value
                                                || '-' }}
                                            </span>
                                        </div>

                                    </div>
                                </div>
</div>
                            </div>

                          

                        </div>
                    </div>
                </div>

                <div *ngIf="isCrop" class="col-12 pt-2">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button *ngIf="!isFinalSubmitButtonHide" class="clear-form-button btn-inventory mb-3"
                                (click)="revertDataCancelation()">
                                Cancel
                            </button>
                        </div>
                        <div class="col-auto">
                            <button *ngIf="!isFinalSubmitButtonHide" class="clear-form-button btn-inventory mb-3"
                                (click)="saveAsDraft()">
                                Save as Draft
                            </button>
                        </div>
                        <div class="col-auto">
                            <button *ngIf="!isFinalSubmitButtonHide" (click)="finalizeData()"
                                class="clear-form-button btn-inventory mb-3">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>