* {
    overflow: hidden;
}

.sidebar-wrapper {
    background-color: #EDE3D7;
}

.collaps-btn {
    overflow: hidden;
    /* z-index: 5; */
}

.toggle-sidebar {
    position: fixed;
}


@media screen and (min-device-width: 279px) and (max-device-width: 768px) {
    .content-wrapper {
        margin-top: 25%;
    }

    /* .main-logo {
        padding-left: 80px;
        padding-top: 15px;
        padding-right: 40px;
        padding-bottom: 30px;
        width: 85%;
        height: 85%;
    }
    .heder-hide-first{
        display: none;
    }
    .heder-hide-second{
        display:contents;
    } */

}

@media screen and (min-width: 1233.33px) and (max-width: 1850px) {
    .content-wrapper {
        margin-top:-1%;
    }
    .toggle-sidebar {
        position: fixed;
        margin-left: -104px;
    }
}
@media screen and (min-width: 1480px) and (max-width: 1850px) {
    .content-wrapper {
        margin-top:-1%;
    }
    .toggle-sidebar {
        position: fixed;
        margin-left: -12px;
    }
}


@media (max-width: 599px) {
    .hide-sidebar-res
{
    margin-left: -50px !important
}
.sidebar-wrapper
{
    height: 100% !important;
}

}

/* ============= SMALL PHONES (<400px) ============= */
@media (max-width: 399px) {
    .hide-sidebar-res
{
    margin-left: -50px !important
}
.sidebar-wrapper
{
    height: 100% !important;
}
}