.seed-division-icon {
    width: 41px;
    height: 41px;
    background-color: #963814
}

.seed-division-text {
    font: normal Poppins 16px/25px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #963814;
}

.active {
    text-align: left;
    font: normal Poppins 600 16px/20px;
    letter-spacing: 0px;
    color: #1C1C1C;
    opacity: 1;
}

.hr-line {
    background-color: #963814;
    width: 100%;
    height: 1px;
    opacity: 0.6;
}

.border-radious {
    border-radius: 15px;
}

.show + .title{
    display:none;
}
.show:hover + .title {
    display:block;
}


.side-menu-custom
{
    padding-right: 0px !important;
}