<div class="container">
    <div class="row" >
        <div class="col-2 pl-3 pt-4 pb-3">
            <div class="border-radious">
                <img src="assets/images/{{ enabledRoleMenu.icon }}" style="border-radius: 50%; height: 35px; width: 44px;" class="seed-division-icon show">
                <span class="title" style="content: attr(data-title);background-color: #000000;color: #fff;font-size: 113%;padding: 1px 7px 2px 5px;white-space: nowrap;border: 1px solid #111111;margin-left: 38px;z-index: 99999999;position: fixed;font-weight:700;">{{enabledRoleMenu.name}}</span>
            </div>
        </div>
        <!-- <div class="col-10 pl-4 pt-4 d-flex verticle-content-middle pb-3">
            <span *ngIf="enabledRoleMenu.name =='Nodal Officer(HICAR)'" class="seed-division-text">Nodal Officer(Horticulture)</span>
            <span *ngIf="enabledRoleMenu.name =='Nodal Officer(ICAR)'" class="seed-division-text">Nodal Officer(Agriculture)</span>
            <span *ngIf="enabledRoleMenu.name !='Nodal Officer(ICAR)' && enabledRoleMenu.name !='Nodal Officer(HICAR)'" class="seed-division-text">{{enabledRoleMenu.name}}</span> -->
            <!-- <span *ngIf="enabledRoleMenu.name !='Nodal Officer(ICAR)' && enabledRoleMenu.name !='Nodal Officer(HICAR)'" class="seed-division-text">{{userName}}</span> -->
        <!-- </div> -->
        <div class="col-12 hr-line"></div>
        <div class="col-12 side-menu-custom" >
            <app-menu-icon-ui [menuList]="enabledRoleMenu.menus"></app-menu-icon-ui>
        </div>
    </div>
</div>