<div style="margin-left: 40%" class="hold-transition login-page login-box">
  <div class="login-logo" style="background-color: #963814 !important;">
    <img src="assets/images/Group%201120.png" class="login_logo_img" height="auto"
      style="display: block;margin-left: auto;margin-right: auto;width: 300px; background-color: #963814 !important;">
    <!--   <b>SAFEsnap</b>-->
  </div>

  <div style="text-align:center">
    <h1>Print PRN commands/files from Angular</h1>
    <hr />
    <button type="button" (click)="onPrint()">Print Now...</button>
  </div>
  
  
</div>