<div class="wrapper heder-hide-first">
    <div class="row header-row-wrapper">
        <div class="col-3 logo-bg header-left-side-container" id="header-left-side-container">
            <div class="">
                <img class="main-logo" src="assets/images/Group 1120.png">
            </div>
        </div>

        <div class="col-9 pl-0" id="header-right-side-container">
            <div class="col-12 header-right-side-top-container">
                <div class="float-left">
                    <div class="pt-3">
                        <!-- <img src="assets/images/menu.svg" alt="" class="menu-icon-logo">  style="left: calc(var(--headerHeight) - -99px)!important;"-->
                        <!-- <button class="toggle-sidebar" id="toggle-sidebar" (click)="changeClass()">
                            <i *ngIf="showSidebar" class="fas fa-times-circle"></i>
                            <i *ngIf="!showSidebar" class="fas fa-bars"></i>
                            <div *ngIf="!showSidebar"><img src="assets/images/menu.svg" alt="" class="menu-icon-logo">
                            </div>
                        </button> -->
                    </div>
                </div>

                <div class="float-right" style="margin-left: -385px;">

                    <div class="container">
                        <div class="rows" style="display: flex;
                        justify-content: center;
                        gap: 12px;">
                            <!-- <div class="cols-2 mt-3" style="float: right;">
                                <div class=" header_nav" style="margin-top: -8%">
                                    <a (click)="logout()" class="btn btn-default btn-flat"><u>Sign out</u></a>
                                </div>
                            </div> -->

                            <!-- <div class="cols-2 mt-3" style="float: right;">
                                <div class=" header_nav">
                                    <a href="/login-home">Home</a>
                                </div>
                            </div> -->
                            <div class="cols-7 pl-5 pt-2">
                                <!-- Seednet login -->
                                <!-- <button *ngIf="localStorageData.user_type=='SD' || localStorageData.user_type=='IN'" (click)="navigatetoSeedNet()" title="Redirect to Seednet" class="py-2"  style="margin-left: -250px;font-size: 17px;color: white;background: #DC8B3A 0% 0% no-repeat padding-box;border:none;float:right">
                                    Redirect to Seednet 
                                </button> -->
                                <!-- new code -->
                                <!-- [href]="'https://seedtrace.gov.in/ms014/oilSeed/areaDashboard?seednet_token=' +
                                seednet_token" -->
                            </div>
                            <div class="cols-2 pl-5 pt-2">
                                <a *ngIf="localStorageData.user_type=='OILSEEDADMIN'" type="button"
                                    class="btn btn-sm btn-oil-seed"
                                    href="https://seedtrace.gov.in/ms014/oilSeed/areaDashboard" (click)="logout()"
                                    style="margin-left: 250px;font-size: 17px;color: white;">Oil Seed</a>
                            </div>
                            <div class="cols-1 mt-2 ml-2">
                                <img src="assets/images/Group 1160.svg" class="user-logo pt-1" alt="">
                            </div>

                            <div class="cols-7 mt-3 header_nav ">
                                {{ userName | uppercase}}
                            </div>
                            <div class="cols-1 mt-3" style="float: left;" (click)="toggleforlogout()"
                                (click)="showPopup(1,$event)">
                                <span class="" *ngIf="!toggledropdownforlogout"><i class="fas fa-angle-down" style="color:
                                white;"></i></span>
                                <span class="" *ngIf="toggledropdownforlogout"><i class="fas fa-angle-up" style="color:
                                    white;"></i></span>
                            </div>

                        </div>
                        <!-- <div class="col-md-2">

                        </div> -->

                        <!-- <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                            <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual"
                                ngbDropdownAnchor (focus)="myDrop.open()">
                                Toggle dropdown
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                <button ngbDropdownItem>Action - 1</button>
                                <button ngbDropdownItem>Another Action</button>
                                <button ngbDropdownItem>Something else is here</button>
                            </div>
                        </div> -->
                    </div>

                    <!-- <div class="row py-2">
                        <div class="col-2">
                            <img src="assets/images/Group 1160.svg" class="user-logo pt-1" alt="">
                        </div>


                        <div class="col-10 py-1 top-right-side-header-title">
                            <div class="row pl-1">
                                <div class="col-3">
                                    <div class="">
                                        <a style="  color:white" href="/login-home">Home</a>
                                    </div>
                                </div>
                                <div class="col-7" style="overflow: hidden;">
                                    {{ moduleName}}
                                </div>
                                <div class="col-2 pl-0 " style="margin-left: -1em;">
                                    <span class=""><img src="assets/images/16.svg" alt=""></span>
                                </div>
                            </div>

                        </div>
                    </div> -->


                </div>

            </div>
            <div class="main_div header  pt-3 " *ngIf="currentUrl=='/seed-processing-plant'">
                <div class="text_wrapper px-3 ">
                    Last Date for reporting production details to Seed Division is 31/12/23 Please fill Estimated
                    Processed Seed details for unprocessed seeds
                    <!-- &#9733; &nbsp; Last Date for reporting production details to Seed Division is 20/12/23 -->
                </div>
                <div class="transparent_div "></div>
            </div>

            <!-- <div class="moving-text-container header pt-3" *ngIf="currentUrl=='/seed-processed-old'|| currentUrl=='/seed-processing-plant'">
            <span class="moving-text px-3">
              Last Date for reporting production details to Seed Division is 31/12/23 Please fill Estimated Processed Seed details for unprocessed seeds
              &#9733; &nbsp; Last Date for reporting production details to Seed Division is 20/12/23
               
            </span>
          </div> -->


            <div class="row" *ngIf="currentUrl!='/seed-processing-plant'">
                <div class="col-2">

                    <div class="py-3 px-4 user-text clip-path-header ">
                        <!-- Lorem Ispum -->

                    </div>
                </div>

                <div class="col-10 header-right-side-bottom-container">
                    <div class="row float-right py-3 pr-5">
                        <div class="header-right-side-section-1 pr-3">
                        </div>

                        <div class="pl-3 header-right-side-section-2">
                            Data as on : {{ today | date:'dd/MM/yyyy' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper heder-hide-second ">
    <div class="row header-row-wrapper">
        <div class="col-12  logo-bg header-left-side-container">
            <div class="row">
                <!-- <div class="col-6">
                </div> -->
                <div class="col-12">
                    <div class="">
                        <img class="main-logo " src="assets/images/Group 1120@2x.png">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 ">
            <div class="col-12 header-right-side-top-container">
                <div class="float-left">
                    <div class="pt-3">
                        <!-- <img src="assets/images/menu.svg" alt="" class="menu-icon-logo"> -->
                        <!-- <button class="toggle-sidebar" (click)="showSidebar = !showSidebar">
                            <i *ngIf="showSidebar" class="fas fa-times-circle"></i>
                            <i *ngIf="!showSidebar" class="fas fa-bars"></i>
                            <div *ngIf="!showSidebar"><img src="assets/images/menu.svg" alt="" class="menu-icon-logo">
                            </div>
                            class="fas fa-bars"
                        </button> -->
                    </div>
                </div>
                <!-- <div  class=" pt-2">
                    <button (click)="navigatetoSeedNet()" title="Redirect to Seednet"  style="margin-left: -250px;font-size: 17px;color: white;background: #DC8B3A 0% 0% no-repeat padding-box;border:none">
                        Redirect to Seednet 
                    </button>
                    <a type="button" href="https://seednet.gov.in/SSO/SSOLogin.aspx?seednet_token={{seednet_token}}" (click)="logout()" style="margin-left: -250px;font-size: 17px;color: white;">Redirect to Seednet </a>
                  </div> -->
                <!-- (click)="logout()" -->
                <!-- href="https://seedtrace.gov.in/ms014/oilSeed/areaDashboard?oilseed_token={{seednet_token}}" -->
                <!-- (click)="logout()" -->
                <div class="">
                    <div class="row py-2">
                        <div class="col-2">
                            <img src="assets/images/Group 1160.svg" class="user-logo pt-1" alt="">
                        </div>
                        <div class="col-10 py-2 top-right-side-header-title">
                            <div class="row">

                                <div class="col-10">
                                    {{ userName }}
                                </div>
                                <div class="col-2" (click)="toggleforlogout()" (click)="showPopup(1,$event)">
                                    <span class="" *ngIf="!toggledropdownforlogout"><b><i class="fas fa-angle-down"
                                                style="color:
                                        white;"></i></b></span>
                                    <span class="" *ngIf="toggledropdownforlogout"><i class="fas fa-angle-up" style="color:
                                            white;"></i></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-2">

                    <div class="py-3 px-4 user-text clip-path-header">
                        Lorem Ispum
                    </div>
                </div>

                <div class="col-10 header-right-side-bottom-container">
                    <div class="row float-right py-3 pr-5">
                        <div class="header-right-side-section-1 pr-3">
                            Lorem Ipsum is simply dummy text
                        </div>

                        <div class="pl-3 header-right-side-section-2">
                            Lorem Ipsum is simply dummy text
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>



<div class="col-md-3" *ngIf="toggledropdownforlogout">
    <div class="card100" *ngIf="opened == true" (click)="$event.stopPropagation()">
        <ul>
            <!-- <li  [ngClass]="is_change_password ? '':'disableEdit'"><span class="fas fa-edit"></span>&nbsp; &nbsp;<a [routerLink]="['/profile/submission/view']" (click)="toggleforlogout()">View Profile</a></li>
            <hr >
             -->
            <li><span class="fas fa-edit"></span>&nbsp; &nbsp;<a [routerLink]="['/profile/submission/view']"
                    (click)="toggleforlogout()">View Profile</a></li>
            <hr>
            <!-- <li><span class="fa-brands fa-rocketchat"></span>&nbsp; &nbsp;<a [routerLink]="['/chat-support']" (click)="toggleforlogout()">Chat Support</a></li> -->
            <li>
                <span class="fa-brands fa-rocketchat"></span>&nbsp; &nbsp;
                <a [routerLink]="['/chat-support']" (click)="toggleforlogout()">Chat Support</a>&nbsp;
                <span *ngIf="totalUnreadMessages > 0" class="badge badge-pill badge-danger">{{ totalUnreadMessages
                    }}</span>
            </li>


            <hr>
            <li><span class="fa-sharp fa-solid fa-key"></span>&nbsp; &nbsp;<a routerLink="/change-password"
                    (click)="toggleforlogout()">Change Password</a></li>
            <hr>

            <li><span class="fa fa-sign-out"></span>&nbsp; &nbsp;<a (click)="logout()">Sign out</a></li>

        </ul>
    </div>
</div>

<!-- <div class="d-flex p-2 links">
    <a (click)="showPopup(1,$event)"><img src="../../assets/icons/toolbar/settings.png" /></a>
  </div>
  <div class="user-mention" *ngIf="opened == true" (click)="$event.stopPropagation()" style="background-color: red;">
      <div class="listing"> Aeologic</div>
      <div class="listing" (click)="logout()">Logout</div>
  </div> -->