:root {
          font-family: 'Inter', sans-serif;
      }
      
      @supports (font-variation-settings: normal) {
          :root {
              font-family: 'Inter var', sans-serif;
          }
      }
      
      .main-inventory {
          background-color: #FFFFFF;
          border: 1px #D2D2D2;
          /* width: 1540px;
          height: 999px;
          top: 142px;
          left: 330px; */
          border-radius: 10px;
          /* border: 1px; */
          margin: 2%;
          padding-left: 2%;
          padding-right: 2%;
          padding-bottom: 2%;
          /* width: auto;
          height: auto; */
          /* zoom: 0.9; */
      }
      
      .cancel {
          /* border: 1px solid #B64B1D; */
          /* background: #B64B1D; */
          background: rgba(182, 75, 29, 0.05) !important;
          color: #B64B1D !important;
          border-radius: 5px !important;
          outline: none !important;
          /* border: none !important; */
          width: 158px !important;
          height: 37px !important;
          /* border: 2px #B64B1D; */
          /* background: transparent; */
      
      }
      .btn-inventory-cancel {
          /* border: 1px solid #B64B1D; */
          /* background: #B64B1D; */
          background: rgba(182, 75, 29, 0.05);
          color: #B64B1D;
          border-radius: 5px;
          outline: none !important;
          /* border: none !important; */
          width: 158px;
          height: 37px;
          /* border: 2px #B64B1D; */
          /* background: transparent; */
      }
      .title-inventory {
          /* font-family: Inter;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #1C1C1C; */
      }
      
      .card-inventory {
          width: auto;
          height: auto;
          /* top: 206px;
          left: 360px; */
          border-radius: 10px;
          background: #B64B1D0D;
      
      }
      
      .label-inventory {
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
          /* font-weight: 500;
          line-height: 19px; */
          letter-spacing: 0em;
          text-align: left;
          color: #1C1C1C;
          /* font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          color: #1C1C1C; */
          /* linear-gradient(0deg, #1C1C1C, #1C1C1C); */
          /* linear-gradient(0deg, #FF0000, #FF0000); */
      }
      
      .input-inventory {
          /* border: 1px solid #A1A1A1; */
          border: 1px solid #B64B1D !important;
          /* background: linear-gradient(0deg, #A2A2A2, #A2A2A2),
              linear-gradient(0deg, #FFFFFF, #FFFFFF);
          width: 420px;
          height: 43px;
          top: 254px;
          left: 372px; */
          /* border-radius: 8px; */
      }
      
      .btn-inventory {
          /* width: Hug (135px);
          height: Hug (43px); */
          /* top: 254px;
          left: 1705px;
          padding: 12px, 41px, 12px, 41px; */
          /* border-radius: 6px; */
          /* gap: 10px; */
          background: #B64B1D;
      }
      
      .form-button.search {
          width: 157px !important;
          align-items: center;
          height: 37px !important;
      }
      .form-button.search2 {
          margin-top: -5px;
          width: 157px !important;
          align-items: center;
          height: 37px !important;
      }
      .form-button.search3 {
          /* margin-top: -5px; */
          width: 157px !important;
          align-items: center;
          height: 37px !important;
      }
      
      .form-control {
          border-color: 2px solid #B64B1D;
      }
      
      .btn-inventory-text {
          color: #FFFFFF;
      }
      
      .dotted {
          /* border:1px dotted   #B64B1D; */
          /* background: #A6A6A6; */
          /* z-index: 2;
          margin-top: -130px; */
          border: 1px dotted #A6A6A6;
      }
      
      .radio-button {
          width: 25px;
          height: 25px;
      }
      
      input[type='radio'] {
          accent-color: #d7720f;
          top: -6px;
          left: 12px;
      }
      
      /*start  table css  */
      .data-row-header {
          background: #B64B1D 0% 0% no-repeat padding-box;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          margin: 0.2%;
          width: 100%;
          display: flex;
          justify-content: space-between; /* Adjust spacing for child elements */
          align-items: center;
          /* padding: 2%; */
      }
      
      .data-row-header * {
          /* font: normal Poppins 600 13px/16px;
          font-weight: 500; */
          /* font-family: Inter;
          font-size: 13px;
          font-weight: 600; */
          /* line-height: 24px; */
          /* letter-spacing: 0px;
          color: #FFFFFF; */
      }
      
      .data-row {
          border: 1px solid #A6A6A6;
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
          background-color: #FFFFFF;
          margin: 0.2%;
          margin-bottom: none !important;
          width: 100%;
          display: flex;
          justify-content: space-between; /* Adjust spacing for child elements */
          align-items: center;
      }
      
      .data-row * {
          /* font-family: Inter; */
          font-size: 13px;
          /* font-weight: 500; */
          /* line-height: 24px; */
          /* font: normal Poppins 15px/18px; */
          letter-spacing: 0px;
          color: #000000;
      }
      
      .containers .multiselect-dropdown .dropdown-btn {
          border: 1px solid #B64B1D !important;
      }
      
      .disable_btn {
          cursor: none;
          display: block;
      }
      @media screen and (max-width: 1200px) {
        .for-width{
        width: 100% !important;
        } 
      }
      @media only screen and (max-width: 1333px) {
          .main-inventory {
            /* background-color: lightblue; */
            zoom:0.9;
          }
          .form-button.search2 {
              margin-top: -5px;
              width: 157px !important;
              align-items: center;
              height: 37px !important;
          }
          .form-button.search3 {
              /* margin-top: -5px; */
              width: 157px !important;
              align-items: center;
              height: 37px !important;
          }
        }

        .for-width {
          width: 122.4%;
        }

        @media only screen and (max-width: 500px) {
          .for-width {
                    width: 106.5%
          }
          
        }

        .lime-main-heading
        {
            color: #B64B1D;
            font: normal Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            margin-top:24px;
        }
        .disableButton {
            background-color: #afb7bb;
            cursor: none;
            border-radius: 4px;
        }

        .myClass {
            max-width: 50% !important;
        }