<div class="row my-4 w-100 mx-0 pt-0">
    <div class="col-12 d-flex justify-content-center verticle-content-middle">
        <div class="main-content-form-wrapper px-0 py-2">
            <div class="">

                <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
                    <div class=" col-12 px-3 mt-2">
                        <span class="mt-4 py-0 heading_notofied">
                            Crop Variety
                        </span>

                        <div class="row px-2 pt-2">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-md-2 col-lg-2 mb-2 mb-md-0 mt-4">
                                        <div class="form-check">
                                            <input class="radio-button form-check-input radio-btn" name="notifiedValue"
                                                [(ngModel)]="notifiedVvalue" type="radio"
                                                (change)="notifiedvalue('notified')" id="flexRadioDefault1"
                                                alue="non-notified" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Search By Crop Group
                                            </label>
                                        </div>
                                    </div>
                                    <!-- [(ngModel)]="notifiedValue" -->
                                    <!-- checked -->
                                    <div class="col-md-2 col-sm-2 col-md-2 col-lg-2 mt-4">
                                        <div class="form-check">
                                            <input class="radio-button form-check-input radio-btn"
                                                [(ngModel)]="notifiedValue" name="notifiedValue" type="radio"
                                                (change)="notifiedvalue('non_notified')" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Search By Variety Name
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-md-4 col-lg-4 pl-1 pr-1">
                                        <div class="col-12 px-0 ">
                                            <label for="Crop Group" class="search_text">Notification No.</label>
                                        </div>
                                        <input type="text" class="form-control form-input" formControlName="not_number"
                                            placeholder="Enter Notification No.">
                                        <div class="not_number errorMessage " *ngIf="
                                            ngForm.controls['not_number'].invalid &&
                                            (ngForm.controls['not_number'].dirty ||
                                            ngForm.controls['not_number'].touched)">
                                            <span *ngIf="
                                                ngForm.controls['not_number'].errors?.['minlength']">
                                                Notification No. Should Be More Than 2 Character <br>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-md-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-12 px-0 ">
                                            <label for="Crop Group" class="search_text">Pinned</label>
                                        </div>
                                        <select class="form-control form-input" formControlName="status_check_filter">
                                            <option value="" selected disabled>Select Pin</option>
                                            <option value="1">ALL</option>
                                            <option value="2">NO</option>
                                            <option value="3">YES</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-12 pt-2 px-2 ml-1">
                            <div class="row">
                                <div *ngIf="!disableFileds" class="col-12 col-md-4 mt-2 px-0 px-md-1 pr-2 pr-md-2">
                                    <div class="col-12 px-0 ">
                                        <label for="Crop Group" class="search_text">Variety Name</label>
                                    </div>

                                    <input type="text" class="form-control" placeholder="Enter Variety Name"
                                        formControlName="variety_name_filter">

                                    <div class="variety_name_filter errorMessage " *ngIf="
                                        ngForm.controls['variety_name_filter'].invalid &&
                                        (ngForm.controls['variety_name_filter'].dirty ||
                                        ngForm.controls['variety_name_filter'].touched)">
                                        <span *ngIf="
                                            ngForm.controls['variety_name_filter'].errors?.['minlength']">
                                            Variety Name Should Be More Than 2 Character <br>
                                        </span>
                                    </div>
                                    <!-- <select class="form-select form-control" aria-label="Default select example"
                                            formControlName="variety_name">
                                            <option value="" hidden selected>Select Variety Name</option>
                                            <option *ngFor="let data of cropVarietyData" value="{{data.variety_code}}">
                                                {{data.variety_name}}</option>
                                        </select> -->
                                    <div class="pl-0 toggle-button" ngbDropdown>
                                        <img src="assets/images/16.svg" alt="" srcset="">

                                    </div>
                                    <!-- <div class="pl-0 toggle-button" ngbDropdown>
                                        </div> -->

                                </div>

                                <div class="col-12 col-md-4 mt-2 px-0 px-md-1 pr-2 pr-md-2">
                                    <div class="col-12 px-0  ">
                                        <label for="Crop Group" id="search_text" class="search_text">Crop Group</label>
                                    </div>
                                    <div class="col-12  mt-0 px-0 pr-md-1">
                                        <div ngbDropdown class="d-inline-block w-100">
                                            <button class="btn takeplacholder w-100 crop toggle-button" id="crop_group"
                                                ngbDropdownToggle style="text-align: left;" aria-disabled="true">
                                                {{crop_groups && (crop_groups.length>30) ?
                                                (crop_groups.substring(0,30)+'...'):crop_groups?crop_groups :'Select
                                                Crop Group'}}
                                            </button>
                                            <div class="dropdown-menu w-100" ngbDropdownMenu="crop_group"
                                                aria-labelledby="sortMenu">


                                                <input type="text" class="form-control px-4"
                                                    formControlName="crop_text">
                                                <button class="dropdown-item" *ngFor="let data of cropData "
                                                    value="{{data.crop_group_code}}" (click)="cropGroup(data)"
                                                    #dropdownItem [attr.data-parent-name]="'cropGroup'">
                                                    {{data.group_name}}
                                                </button>
                                            </div>

                                        </div>
                                        <div class="pl-0 toggle-button" ngbDropdown id="crop_group">
                                            <i class="fa-solid fa-angle-down downicon" (click)="cgClick()"></i>
                                        </div>

                                        <!-- <select class="form-select form-control" aria-label="Default select example"
                                            formControlName="crop_group">
                                           
                                            <option value="" disabled>Select Crop Group</option>
                                            <option *ngFor="let data of cropData" value="{{data.group_code}}">
                                                {{data.group_name}}</option>
                                        </select>
                                        <div class="pl-0 toggle-button" ngbDropdown>
                                            <img src="assets/images/16.svg" alt="" srcset="">

                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 mt-2 px-0 px-md-1 pr-2 pr-md-2">
                                    <div class="col-12 px-0 ">
                                        <label for="Crop Group" class="search_text">Crop Name</label>
                                    </div>
                                    <div class="col-12  mt-0 px-0">
                                        <div ngbDropdown class="d-inline-block w-100 ">
                                            <button class="btn takeplacholder w-100 crop toggle-button"
                                                [ngClass]=" disabledfieldcropName  ? 'disabledfield' : ''"
                                                id="crop_name" ngbDropdownToggle style="text-align: left;">{{crop_names
                                                && (crop_names.length>30) ?
                                                (crop_names.substring(0,30)+'...'):crop_names? crop_names :'Select Crop
                                                Name'}}</button>

                                            <div class="dropdown-menu w-100" ngbDropdownMenu="crop_name"
                                                aria-labelledby="sortMenu">
                                                <input type="text" class="form-control px-4"
                                                    formControlName="crop_name_text">
                                                <button class="dropdown-item" *ngFor="let data of cropNameList"
                                                    (click)="cropNames(data)" #dropdownItem
                                                    [attr.data-parent-name]="'crop_name'">
                                                    {{data && data.crop_name ?
                                                    data.crop_name
                                                    :""}}
                                                    <!-- <input type="hidden" formControlName="crop_code"> -->
                                                </button>

                                            </div>

                                        </div>
                                        <div class="pl-0 toggle-button" ngbDropdown
                                            [ngClass]=" disabledfieldcropName ? 'disabledfield' : ''">
                                            <i class="fa-solid fa-angle-down downicon" (click)="cnClick()"></i>
                                        </div>
                                        <!-- <select [ngClass]=" disabledfield ? 'disabledfield' : ''"
                                            class="form-select form-control" aria-label="Default select example"
                                            formControlName="crop_name">
                                            <option value="" hidden selected>Select Crop Name</option>
                                            
                                            <option *ngFor="let data of cropNameList"
                                                value="{{ data && data.m_crop && data.m_crop.crop_code ?data.m_crop.crop_code :'' }}">
                                                {{data && data.m_crop && data.m_crop.crop_name ? data.m_crop.crop_name
                                                :""}}</option>
                                        </select> -->
                                        <div class="pl-0 toggle-button" ngbDropdown>
                                            <img src="assets/images/16.svg" alt="" srcset="">

                                        </div>
                                        <!-- <div class="pl-0 toggle-button" ngbDropdown>
                                            
                                        </div> -->
                                    </div>

                                </div>
                                <div *ngIf="disableFileds" class="col-12 col-md-4 mt-2 px-0 px-md-1 pr-2 pr-md-2">
                                    <div class="col-12 px-0 px-md-1">
                                        <label for="Crop Group" class="search_text">Variety Name</label>
                                    </div>
                                    <div class="col-12  mt-0 px-0 px-md-1 pl-md-0">
                                        <div ngbDropdown class="d-inline-block w-100 ">
                                            <button class="btn takeplacholder w-100 crop toggle-button"
                                                [ngClass]=" disabledfieldVariety  ? 'disabledfield' : ''"
                                                id="variety_name" ngbDropdownToggle
                                                style="text-align: left;">{{variety_names && (variety_names.length>30) ?
                                                (variety_names.substring(0,30)+'...'):variety_names? variety_names
                                                :'Select Variety
                                                Name'}}</button>

                                            <div class="dropdown-menu w-100" ngbDropdownMenu="variety_name"
                                                aria-labelledby="sortMenu">
                                                <input type="text" class="form-control px-4"
                                                    formControlName="variety_name_text">
                                                <button class="dropdown-item" *ngFor="let data of cropVarietyData"
                                                    (click)="varietyNames(data)" #dropdownItem
                                                    [attr.data-parent-name]="'variety_name'">
                                                    {{data.variety_name}}
                                                    <!-- <input type="hidden" formControlName="crop_code"> -->
                                                </button>

                                            </div>

                                        </div>
                                        <div class="pl-0 toggle-button" ngbDropdown
                                            [ngClass]=" disabledfieldVariety ? 'disabledfield' : ''">
                                            <i class="fa-solid fa-angle-down downicon" (click)="cvClick()"></i>
                                        </div>
                                        <!-- <select class="form-select form-control" aria-label="Default select example"
                                            formControlName="variety_name">
                                            <option value="" hidden selected>Select Variety Name</option>
                                            <option *ngFor="let data of cropVarietyData" value="{{data.variety_code}}">
                                                {{data.variety_name}}</option>
                                        </select> -->
                                        <div class="pl-0 toggle-button" ngbDropdown>
                                            <img src="assets/images/16.svg" alt="" srcset="">

                                        </div>
                                        <!-- <div class="pl-0 toggle-button" ngbDropdown>
                                            
                                        </div> -->
                                    </div>

                                </div>

                                <div _ngcontent-cvx-c131="" class="col-12 mt-0 pl-1 search-cancle-button buttons-phone">
                                    <button
                                        class="form-button search ml-0 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-0"
                                        (click)="search()">
                                        Search
                                    </button>
                                    <button
                                        class="clear-form-button ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mx-0"
                                        (click)="clear()">
                                        Clear
                                    </button>

                                </div>

                            </div>

                        </div>
                        <div class="col-12 px-1">
                            <hr class="separator m-0">
                        </div>


                        <!-- <app-indent-breeder-seed-allocation-search></app-indent-breeder-seed-allocation-search> -->
                        <!-- <app-indent-breeder-seed-allocation-search [isByNodalAgency]="true"></app-indent-breeder-seed-allocation-search> -->
                    </div>
                </form>
                <!-- <div class="col-12 px-4 py-3">
                    <app-seed-division [isByNodalAgency]="true"></app-seed-division>
                </div> -->
                <div class="col-12 px-4 mx-3 mt-3 d-flex justify-content-end buttons-phone-add"
                    style="padding-right: 2rem!important;">
                    <button class="form-button d-flex justify-content-center verticle-content-middle"
                        style="width: 100px !important;background-color: #963814;"
                        routerLink="/add-crop-notified">Add</button>
                </div>

                <!-- table for exel Download start -->
                <table id="excel-table" style="display:none">
                    <thead>
                        <tr>
                            <th colspan="5" style="text-align: center;font-weight:600;">rop Notified List</th>
                        </tr>
                        <tr>
                            <th scope="col" class="col-md-0 py-3">S/N</th>
                            <th scope="col" class="col-md-3 py-3">Crop Group</th>
                            <th scope="col" class="col-md-3 py-3">Crop Name</th>
                            <th scope="col" class="col-md-2 py-3">Variety Name</th>
                            <th scope="col" class="col-md-2 py-3">Type</th>
                            <th scope="col" class="col-md-2 py-3">Notification Date</th>
                            <th scope="col" class="col-md-2 py-3">Notification No.</th>
                            <th scope="col" class="col-md-2 py-3"> Meeting No.</th>
                            <th scope="col" class="col-md-2 py-3">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of exportdata; let dataIndex=index">
                            <td>{{ dataIndex + 1}}</td>
                            <td>
                                <span style="cursor: pointer; word-break: break-word;"
                                    title="{{data && data.m_crop && data.m_crop.m_crop_group && data.m_crop.m_crop_group.group_name ? data.m_crop.m_crop_group.group_name :'NA'}}">{{(data
                                    && data.m_crop && data.m_crop.m_crop_group &&
                                    (data.m_crop.m_crop_group.group_name.length > 30) ?
                                    ((data.m_crop.m_crop_group.group_name.substring(0, 30)|uppercase)
                                    +
                                    "..."):(data.m_crop? data.m_crop.m_crop_group.group_name :"NA"))}}</span>
                            </td>
                            <td>
                                <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{data.m_crop_group?data.m_crop_group.group_name:''}}">{{(data &&
                                    data.m_crop &&
                                    (data.m_crop.crop_name.length > 30) ? ((data.m_crop.crop_name.substring(0,
                                    30)|uppercase) +
                                    "..."):(data.m_crop? (data.m_crop.crop_name|uppercase) :"NA"))}}</span>
                            </td>
                            <td>
                                <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                    data-placement="bottom" title="{{data.variety_name}}">{{(data &&
                                    data.variety_name &&
                                    (data.variety_name.length > 30) ? (data.variety_name.substring(0, 30) +
                                    "..."):(data.variety_name? data.variety_name:"NA"))}}</span>
                            </td>
                            <td>
                                <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                    data-placement="bottom" title="{{data.type}}">{{(data &&
                                    data.type &&
                                    (data.type.length > 30) ? (data.type.substring(0, 30) +
                                    "..."):(data.type? data.type:"NA"))}}</span>
                            </td>
                            <td>NA</td>
                            <td>
                                <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{data && data.not_number ? data.not_number :'NA'}}">{{data &&
                                    data.not_number ? data.not_number:'NA'
                                    }}</span>
                            </td>
                            <td>
                                <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{data && data.meeting_number ? data.meeting_number :'NA'}}">{{data &&
                                    data.meeting_number ? data.meeting_number:'NA'}}</span>
                            </td>
                            <td>
                                {{data &&
                                (data.is_active==1)?'ACTIVE':'INACTIVE'}}
                            </td>



                        </tr>
                    </tbody>
                </table>
                <!-- table for exel Download end -->



                <div class="col-12 px-4">
                    <div class="list-wrapper px-2 py-3">
                        <div class="row d-none d-md-flex data-row-header">
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle customize-width">S/N</div>
                            <div class="col-6 col-md-2  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Crop Group</div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Crop Name</div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Variety Name <img *ngIf="asc_icon" class="sort_icon" (click)="short_data('ASC')"
                                    src="assets/icons/sort-down.png"> <img *ngIf="desc_icon" class="sort_icon"
                                    (click)="short_data('DESC')" src="assets/icons/sort-up.png"></div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Type</div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Notification Date <img *ngIf="not_asc_icon" class="sort_icon"
                                    (click)="not_short_data('ASC')" src="assets/icons/sort-down.png"> <img
                                    *ngIf="not_desc_icon" class="sort_icon" (click)="not_short_data('DESC')"
                                    src="assets/icons/sort-up.png"></div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Notification No.</div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Meeting No.</div>
                            <!-- <div class="col-6 col-md-2 py- d-flex verticle-content-middle">Variety Code</div> -->
                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Status</div>
                            <div class="col-6 col-md-1  py-3 d-flex verticle-content-middle" style="padding-left:0px">
                                Pin</div>
                            <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle justify-content-center">
                                Action
                            </div>
                        </div>
                        <div class="row data-row " [hidden]="countData==0"
                            *ngFor="let data of filterPaginateSearch.itemList; let dataIndex=index"
                            [ngStyle]="{'background-color': data.is_status_active == 1 ? 'rgb(255 164 164 / 52%)' : ''}">

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle customize-width">
                                <div class="w-fit-content">
                                    <label class="d-md-none" class="d-md-none"><b>S/N:</b>&nbsp;</label>
                                    <span title="{{(filterPaginateSearch.itemListCurrentPage - 1) *
                                        filterPaginateSearch.itemListPageSize + dataIndex + 1}}">{{
                                        (filterPaginateSearch.itemListCurrentPage - 1) *
                                        filterPaginateSearch.itemListPageSize + dataIndex + 1}}.</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Crop Group</b></label>
                                    <!-- <span style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="{{data.crop_group}}">{{data.crop_group}}</span> -->
                                    <span style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom"
                                        title="{{data && data.m_crop && data.m_crop.m_crop_group && data.m_crop.m_crop_group.group_name ? data.m_crop.m_crop_group.group_name :'NA'}}">{{(data
                                        && data.m_crop && data.m_crop.m_crop_group &&
                                        (data.m_crop.m_crop_group.group_name.length > 30) ?
                                        ((data.m_crop.m_crop_group.group_name.substring(0, 30)|uppercase)
                                        +
                                        "..."):(data.m_crop? data.m_crop.m_crop_group.group_name :"NA"))}}</span>

                                </div>
                            </div>

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Crop Name</b>:&nbsp;</label>


                                    <span style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom"
                                        title="{{data.m_crop_group?data.m_crop_group.group_name:''}}">{{(data &&
                                        data.m_crop &&
                                        (data.m_crop.crop_name.length > 30) ? ((data.m_crop.crop_name.substring(0,
                                        30)|uppercase) +
                                        "..."):(data.m_crop? (data.m_crop.crop_name|uppercase) :"NA"))}}</span>

                                </div>
                            </div>
                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Varity Name:</b>&nbsp;</label>
                                    <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                        data-placement="bottom" title="{{data.variety_name}}">{{(data &&
                                        data.variety_name &&
                                        (data.variety_name.length > 30) ? (data.variety_name.substring(0, 30) +
                                        "..."):(data.variety_name? data.variety_name:"NA"))}}</span>

                                </div>
                            </div>

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Type:</b>&nbsp;</label>
                                    <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                        data-placement="bottom" title="{{data.type}}">{{(data &&
                                        data.type &&
                                        (data.type.length > 30) ? (data.type.substring(0, 30) +
                                        "..."):(data.type? data.type:"NA"))}}</span>

                                </div>
                            </div>

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Notification Date:</b>&nbsp;</label>
                                    <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                        data-placement="bottom">
                                        <!-- title="{{data
                                            && data.not_date && ((data.not_date == '00:00.0') ? 'NA':(data.not_date
                                            !='00:00.0' || (data.not_date !='') ||(data.not_date !='null') ? (data.not_date |
                                            date:'dd-MM-yyyy') :'NA' ))}}" -->
                                        {{data
                                        && data.not_date && ((data.not_date == '00:00.0') ? 'NA':(data.not_date
                                        !='00:00.0' || (data.not_date !='') ||(data.not_date !='null') ? (data.not_date
                                        |
                                        date:'dd-MM-yyyy') :'NA' ))}}
                                    </span>
                                    <!-- || (data.not_date !='' -->
                                    <!-- title="{{data && ((data.not_date == '00:00.0') ? 'NA':(data.not_date !='00:00.0' ? (data.not_date | date:'dd-MM-yyyy') :'NA' )) }}" -->
                                    <!-- not_number -->
                                    <!-- | date: 'dd-MM-yyyy' -->
                                    <!-- {{data
                                        && data.not_date && ((data.not_date == '00:00.0') ? 'NA':(data.not_date
                                        !='00:00.0' || (data.not_date !='') ||(data.not_date !=null) ? (data.not_date |
                                        date:'dd-MM-yyyy') :'NA' ))}} -->
                                </div>
                            </div>

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Notification No:</b>&nbsp;</label>
                                    <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="{{data && data.not_number ? data.not_number :'NA'}}">{{data &&
                                        data.not_number ? data.not_number:'NA'
                                        }}</span>

                                </div>
                            </div>

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content">
                                    <label class="d-md-none"><b>Meeting No:</b>&nbsp;</label>
                                    <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="{{data && data.meeting_number ? data.meeting_number :'NA'}}">{{data &&
                                        data.meeting_number ? data.meeting_number:'NA'}}</span>

                                </div>
                            </div>

                            <!-- <div class="col-6 col-md-2 py-1 d-flex verticle-content-middle">
                                <div class="w-fit-content">

                                    <label class="d-md-none"><b>Variety Code:</b>&nbsp;</label>
                                    <span style="cursor: pointer; word-break: break-word;" data-toggle="tooltip"
                                        data-placement="bottom" title="{{data.variety_code}}">{{(data &&
                                        data.variety_code &&
                                        (data.variety_code.length > 30) ? (data.variety_code.substring(0, 30) +
                                        "..."):(data.variety_code?data.variety_code :'NA'))}}</span>
                                    
                                </div>
                            </div> -->

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <div class="w-fit-content" style="padding-left:-10px">
                                    <label class="d-md-none"><b>Status:</b>&nbsp;</label>
                                    <span style="padding-right:10px;cursor: pointer; word-break: break-word;"
                                        data-toggle="tooltip" data-placement="bottom">{{data &&
                                        (data.is_active==1)?'ACTIVE':'INACTIVE'}}</span>

                                </div>
                            </div>

                            <div class="col-6 col-md-1 py-1 d-flex verticle-content-middle" style="padding-left:0px">
                                <input type="checkbox" id="togle{{data.id}}" (change)="changeStatus(data)"
                                    [checked]="data.is_status_active" />
                            </div>
                            <div
                                class="col-12 col-md-1 py-1 d-flex verticle-content-middle justify-content-md-center phone_view_btn">
                                <div class=" list-action-buttons-wrapper w-fit-content phone_view_action_btn"
                                    style="padding-right:20px">
                                    <button class="list-action-buttons" style="cursor: pointer;">
                                        <a target="_blank"
                                            [routerLink]="['/add-crop-notified-characterstics/view', (data && data.variety_code ? data.variety_code :null)]">
                                            <img src="assets/images/view.svg" title="Characterstic view"></a>
                                    </button>
                                    <button class="list-action-buttons" style="cursor: pointer;">
                                        <a target="_blank" [routerLink]="['/add-crop-notified/view', data.id]">
                                            <img src="assets/images/view.svg" title="variety view"></a>
                                    </button>
                                    <button class="list-action-buttons" style="cursor: pointer;"
                                        *ngIf="data && data.m_crop && data.m_crop.is_active && data.m_crop.is_active==1 ">
                                        <a target="_blank" [routerLink]="['/add-crop-notified/edit/', data.id]">
                                            <img src="assets/images/edit.svg"></a>
                                    </button>
                                    <button class="list-action-buttons" [disabled]="userType === 'SUPERADMIN'"
                                        [ngClass]="{'btn-disabled': userType !== 'SUPERADMIN','btn-active': userType === 'SUPERADMIN'}"
                                        (click)="delete(data.id)" style="cursor: pointer;">
                                        <img src="assets/images/delete.svg">
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList || filterPaginateSearch.itemList.length < 1)"
                        class="px-2 py-3 w-100" style="height: 50px;">
                        <!-- <hr _ngcontent-jwr-c108="" class="separator mx-0 mt-1"> -->
                        <div class="d-flex verticle-content-middle justify-content-center w-100">
                            No Data Found.
                        </div>
                    </div>

                </div>
                <div class="col-12 px-4 px-md-0 py-1 pb-4">
                    <app-pagination-ui></app-pagination-ui>
                </div>
            </div>
        </div>
    </div>
</div>