<form [formGroup]="formSuperGroup" (ngSubmit)="submitForm(formSuperGroup.value)">
	<div class="row my-4 w-100 mx-0 form-child">
		<div class="col-12 px-md-3 px-sm-3 px-0">
			<div class="row mx-auto main-content-form-wrapper py-2">

				<div class="col-12 mb-2"
					style="letter-spacing: 0px;color: #000000 !important; font-style: normal Poppins; font-weight: bold;font-size : 20px">
					Allocation of Breeder Seed to SPAs for Lifting
				</div>

				<div class="col-10 px-1">
					<app-dynamic-fields [fieldsList]="fieldsList" [isLabelControlParallel]="false"
						[formGroup]="IstPartFormGroup" [isView]="isView"></app-dynamic-fields>
				</div>

				<div class="col-2 pt-4 ml-0  buttons-phone mt-2">
					<div class=" row resp_btn">
						<a href="javascript:void(0)" (click)="search()"
							class="form-buttons submit_btn d-inline-flex justify-content-center verticle-content-middle mb-3">
							Search
						</a>
						<!-- <div class="resp_btn">
							<a href="javascript:void(0)"
								class="form-button submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
								(click)="clear()">
								Clear
							</a>
						</div> -->
						 <!-- *ngIf="varietyDropdownData && varietyDropdownData.length" -->
						<a href="javascript:void(0)"
							class="form-buttons submit_btn ml-1   d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1 btn-aling"
							(click)="exportexcel()">
							<img src="assets\icons\icons8-excel_white.svg" alt="" width="20px" alt=""> &nbsp;
							Excel
						</a>
					</div>
					<!-- <div *ngIf="items.length" class="resp_btn">
					
					</div> -->

				</div>

				<table class="table table-bordered table-responsive" id="excel-table" style="display:none">
					<thead>
						<tr>
							<th> <b>Year of indent: {{reportHeader && reportHeader['year'] ?
									reportHeader['year']+'-'+(reportHeader['year']-1999) :
									'NA'}}</b></th>
							<th><b>Season: {{reportHeader && reportHeader['season'] ? (reportHeader['season'] =='R' ?
									'Rabi':'Kharif' ) : 'NA'}}</b></th>
							<th> <b>Crop: {{reportHeader && reportHeader['crop_name'] ? reportHeader['crop_name'] :
									'NA'}}</b></th>
						</tr>
						<tr></tr>
						<tr>
							<th scope="col" class="text-center">Variety Name</th>
							<th scope="col" class="text-center">Name of SPAs</th>
							<th scope="col" class="text-center">Indented Quantity({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
							</th>
							<th scope="col" class="text-center">Name of BSPC</th>
							<th scope="col" class="text-center">Allocated Quantity of BSPC({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
							</th>
							<th scope="col" class="text-center">Total Allocated Quantity({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
							</th>
							<th scope="col" class="text-center">Quantity Left for Allocation({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
							</th>

						</tr>

					</thead>
					<tbody>
						<ng-container *ngFor="let data of dataToDisplay; let cropIndex = index">
							<ng-container *ngFor="let varietyData of data.indenter; let varietyIndex = index">
								<ng-container *ngFor="let spaData of varietyData.productions; let spaIndex = index">
									<tr>
										<!-- First Column: Variety Details -->
										<td *ngIf="spaIndex === 0 && varietyIndex === 0"
											[attr.rowspan]="data.indenter.length * varietyData.productions.length">
											<span
												*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value">
												{{ data.variety_id ? getVarietyName(data.variety_id) :
												(data.variety_name || 'NA') }}
											</span>
											<span *ngIf="isCropSubmittedNew && isCropSubmitted">
												{{ data.variety_name || 'NA' }}
											</span>
											<!-- <span>{{ data && data.variety_id ? getVarietyName(data.variety_id) :
												' }}</span> -->
											<span
												*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew && isCropSubmitted">
												{{ editVarietyForm.controls['variety_id'].value[0].name || '' }}
											</span>
											<br />
											<span *ngIf="data.line_variety_name">
												{{ data.line_variety_name || 'NA' }}
											</span>
										</td>

										<!-- Second Column: Indenter Name -->
										<td class="text-center" *ngIf="spaIndex === 0"
											[attr.rowspan]="varietyData.productions.length">
											{{ varietyData.name || 'NA' }}
										</td>

										<!-- Third Column: Indent Quantity -->
										<td class="text-center" *ngIf="spaIndex === 0"
											[attr.rowspan]="varietyData.productions.length">
											{{ varietyData.indent_quantity ?
											getQuantityOfSeedProduced(varietyData.indent_quantity) : '0' }}
										</td>

										<!-- Fourth Column: SPA Data Agency Name -->
										<td>
											<span *ngIf="varietyForm.controls['variety_id'].value">
												{{ spaData.agency_name || '0' }}
											</span>
											<span
												*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value || isCropSubmittedNew && isCropSubmitted">
												{{ getUserData(spaData.name) || '0' }}
											</span>
										</td>

										<!-- Fifth Column: Allocated Quantity -->
										<td class="text-center">
											<span
												*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value">
												<!-- {{varietyData.allocated_quantity ?
															getQuantityOfSeedProduced(varietyData.allocated_quantity) :
															'0'}} -->
												{{spaData.quantity ? getQuantityOfSeedProduced(spaData.quantity)
												: '0'}}
											</span>
											<span *ngIf="isCropSubmittedNew && isCropSubmitted">
												{{ spaData.allocated_quantity ?
												getQuantityOfSeedProduced(spaData.allocated_quantity) : '0' }}

											</span>
											<span
												*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew && isCropSubmitted">
												{{spaData.quantity ? getQuantityOfSeedProduced(spaData.quantity)
												: '0'}}
											</span>
										</td>

										<!-- Sixth Column: Quantity -->
										<td class="text-center" *ngIf="spaIndex === 0"
											[attr.rowspan]="varietyData.productions.length">
											<span
												*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value">
												<!-- {{spaData.quantity ? getQuantityOfSeedProduced(spaData.quantity)
															: '0'}} -->
												{{varietyData.allocated_quantity ?
												getQuantityOfSeedProduced(varietyData.allocated_quantity) :
												'0'}}
											</span>
											<span *ngIf="isCropSubmittedNew && isCropSubmitted">
												{{ varietyData.quantity ?
												getQuantityOfSeedProduced(varietyData.quantity) : '0' }}
											</span>
											<span
												*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew && isCropSubmitted">
												{{varietyData.allocated_quantity ?
												getQuantityOfSeedProduced(varietyData.allocated_quantity) :
												'0'}}
											</span>


										</td>

										<!-- Seventh Column: Quantity Left for Allocation -->
										<td class="text-center" *ngIf="spaIndex === 0"
											[attr.rowspan]="varietyData.productions.length">
											<span
												*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value">
												{{varietyData.quantity_left_for_allocation ?
												getQuantityOfSeedProduced(varietyData.quantity_left_for_allocation)
												: '0'}}
											</span>
											<span *ngIf="isCropSubmittedNew && isCropSubmitted">
												{{ spaData.quantity_left_for_allocation
												? getQuantityOfSeedProduced(spaData.quantity_left_for_allocation)
												: '0' }}
											</span>
											<span
												*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew && isCropSubmitted">
												{{varietyData.quantity_left_for_allocation ?
												getQuantityOfSeedProduced(varietyData.quantity_left_for_allocation)
												: '0'}}
											</span>

										</td>
									</tr>
								</ng-container>
							</ng-container>
						</ng-container>

					</tbody>


					<!-- Grand Total Row -->

					<tr *ngIf="isCropSubmittedNew && isCropSubmitted">
						<th></th>
						<th>Grand Total</th>
						<!-- <th></th> -->
						<th class="text-center">
							{{ totalIntentValue ? (totalIntentValue | number: '1.2-2') : 0 }}
						</th>
						<th></th>
						<th></th>
						<th class="text-center">
							{{ totalAllocateValue ? (totalAllocateValue | number: '1.2-2') : 0 }}
						</th>
						<th class="text-center">
							{{ totalleftValue ? (totalleftValue | number: '1.2-2') : 0 }}
						</th>
					</tr>

				</table>
				<ng-template #noVarietyData>
					<div *ngIf="!items.length" style="text-align: center; width: 100%;">
						<p class="my-2 mx-auto">No Data Found</p>
					</div>
				</ng-template>

				<div class="col-12 mt-1">
					<div class="row" *ngIf="showUpperRow">
						<div class="col-4 pr-2">
							<label class="bold-label ">Total Number of Variety :
								{{verietyListDetails.totalNumberOfVariety ?
								verietyListDetails.totalNumberOfVariety : 'N/A' }}</label>
						</div>
						<div class="col-4 px-2">
							<label class="bold-label">Total Indenting Quantity(
								{{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}):
								{{totalIndentQnt?totalIndentQnt:0}}
								<!-- {{verietyListDetails.totalIndentQuantity ?
								getQuantityOfSeedProduced(verietyListDetails.totalIndentQuantity) : 'N/A' }}) -->

							</label>
						</div>
						<div class="col-4 pl-2">
							<label class="bold-label">Total Allocation(
								<!-- {{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}): -->
								{{verietyListDetails.totalAllocationQuantity
								?
								getQuantityOfSeedProduced(verietyListDetails.totalAllocationQuantity) : 'N/A' }})
							</label>
						</div>

					</div>
				</div>
				<div class="col-12" *ngIf="varietyDataload">
					<div class="row" *ngIf="!isCropSubmittedNew && isCropSubmitted">
						<div class="col-md-3 col-sm-12" *ngIf="varietyDropdownData && varietyDropdownData.length >0">
							<form [formGroup]="varietyForm">
								<label for="year" class="label-inventory required">Select Variety</label>
								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_id"
									[placeholder]="'Select Variety'" [settings]="dropdownSettings"
									(onSelect)="onSelectVariety($event)"
									[data]="varietyDropdownData"></ng-multiselect-dropdown>

							</form>
						</div>
						<div class="col-3"
							*ngIf="!isCropSubmittedNew && isCropSubmitted && varietLineData && varietLineData.length>0">
							<form [formGroup]="varietyForm">

								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_line"
									[placeholder]="'Select Variety Line'" [settings]="dropdownSettings1"
									(onSelect)="getGridData()" [data]="varietLineData"></ng-multiselect-dropdown>

							</form>
						</div>
						<div class="col-3"
							*ngIf="!isCropSubmittedNew && isCropSubmitted && editVarietyDropdown && editVarietyDropdown.length>0 && (varietyDropdownData && varietyDropdownData.length ==0)">
							<form [formGroup]="editVarietyForm">
								<label for="year" class="label-inventory required">Select Variety for Edit</label>
								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_id"
									[placeholder]="'Select Variety for Edit'" [settings]="dropdownSettings"
									(onSelect)="onSelectEditVariety($event)" [data]="editVarietyDropdown">
								</ng-multiselect-dropdown>
							</form>
							<!-- <ng-multiselect-dropdown class="seed-division-variety"
											formControlName="variety_id" [placeholder]="'Select Variety for Edit'"
											[settings]="dropdownSettings" (onSelect)="onSelectEditVariety($event)"
											[data]="editVarietyDropdown">
										</ng-multiselect-dropdown> -->
						</div>
						<div class="col-3"
							*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyLineEdit && varietyLineEdit.length>0">
							<form [formGroup]="editVarietyForm">
								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_line"
									[placeholder]="'Select Parental Line for Edit'" [settings]="dropdownSettings"
									(onSelect)="onSelectEditVariety2($event)" [data]="varietyLineEdit">
								</ng-multiselect-dropdown>
							</form>
						</div>
					</div>


					<div class="row" *ngIf="!isCropSubmittedNew && isCropSubmitted  && showgrid">
						<div class="col-12 mt-2 pr-0 pl-2" *ngIf="selectedVerietyDetail || editSelectedVariety">
							<div class="row mx-1 aloc_breeder_padding mt-3 p-1">
								<div class="col-3 px-2">
									<label class="bold-label">Total Indenting Quantity :
										<!-- {{varietyWiseTotalIndentValue}} -->
										<!-- {{varietyWiseTotalIndentValue?varietyWiseTotalIndentValue:'N/A'}} -->
										{{selectedVerietyDetail && selectedVerietyDetail.totalIndentQuantity ?
										getQuantityOfSeedProduced(selectedVerietyDetail.totalIndentQuantity) : 'N/A' }}
									</label>
								</div>
								<div class="col-3 px-2">
									<label class="bold-label">Total Allocation :
										{{selectedVerietyDetail && selectedVerietyDetail.totalAllocationQuantity ?
										getQuantityOfSeedProduced(selectedVerietyDetail.totalAllocationQuantity) : 'N/A'
										}}

									</label>
								</div>

								<div class="col-3 pl-2">
									<label class="bold-label">Allocation Percentage :
										{{getQuantityOfSeedProduced(((selectedVerietyDetail &&
										selectedVerietyDetail.totalAllocationQuantity?selectedVerietyDetail.totalAllocationQuantity:0)/(selectedVerietyDetail && selectedVerietyDetail.totalIndentQuantity?selectedVerietyDetail.totalIndentQuantity:0))*100)}}
										<!-- {{getQuantityOfSeedProduced(varietyWiseTotalIndentValue) || '0'}} -->

									</label>
								</div>

								<div class="col-3 pl-2">
									<label class="bold-label">Quantity Unit : {{
										searhedData && IstPartFormGroupControls['cropName'].value &&
										IstPartFormGroupControls['cropName'].value.value ?
										getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}
									</label>
								</div>
							</div>
						</div>
					</div>
					<!--  -->
					<div class="row" *ngIf="!isCropSubmittedNew && isCropSubmitted && showgrid">
						<div class="col">
							<div class="table-responsive" *ngIf="selectedVerietyDetail">

								<table class="table">
									<thead class="thead">
										<tr>
											<td scope="col" style="font-weight: 600;">Name of BSPCs</td>
											<td scope="col" style="font-weight: 600;">Quantiity Produced</td>
											<td scope="col" style="font-weight: 600;">Quantiity Allocated</td>
											<td scope="col" style="font-weight: 600;">Quantiity Left</td>
											<!-- <td class="bspcName" scope="col" style="font-weight: 600;"
												*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">
												{{data.user.name}}</td> -->
										</tr>
									</thead>

									<tbody>
										<tr
											*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">

											<td>{{data && data.user && data.user.agency_name ? data.user.agency_name
												:'NA'}}</td>

											<!-- <td>{{data && data.producedquantity ? data.producedquantity :'NA'}}</td> -->
											<td style="background-color: rgb(255, 211, 161);">{{data &&
												data.allocation_to_indentor_for_lifting_seed_production_cnters
												&& data.allocation_to_indentor_for_lifting_seed_production_cnters.alloc
												? data.allocation_to_indentor_for_lifting_seed_production_cnters.qty
												:'NA'}}</td>
											<!-- getQuantityOfSeedProduced() -->
											<td style="background-color: rgb(172, 255, 191);">{{data &&
												data.quantityAllocated ? data.quantityAllocated
												:'0'}}</td>
											<!-- <td>{{data.allocation_to_indentor_for_lifting_seed_production_cnters.alloc
													}}</td> -->
											<td style="background-color: rgb(253, 164, 164);"
												*ngIf="data && data.producedquantity && data.quantityAllocated">{{data
												&& data.allocation_to_indentor_for_lifting_seed_production_cnters &&
												data.allocation_to_indentor_for_lifting_seed_production_cnters.alloc &&
												((data.allocation_to_indentor_for_lifting_seed_production_cnters.qty -
												data.quantityAllocated) < 0 ) ? 0 :
													getQuantityOfSeedProduced(data.allocation_to_indentor_for_lifting_seed_production_cnters.qty
													- data.quantityAllocated)}} </td>
											<td style="background-color: rgb(253, 164, 164);"
												*ngIf="data && data.allocation_to_indentor_for_lifting_seed_production_cnters.alloc && !data.quantityAllocated">
												{{data && data.allocation_to_indentor_for_lifting_seed_production_cnters
												&& data.allocation_to_indentor_for_lifting_seed_production_cnters.qty
												?
												data.allocation_to_indentor_for_lifting_seed_production_cnters.qty:'0'}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="row" *ngIf="selectedVerietyDetail && indentors && indentors.length > 0">
						<!-- *ngIf="!isCropSubmittedNew && isCropSubmitted" -->
						<div class="col">
							<div class="table-responsive">
								<table class="table">
									<thead class="thead col-12">
										<tr>
											<th scope="col" class="col-md-2 text-center indenterName">Name of SPAs</th>
											<th scope="col" class="col-md-2 text-center indentorQuantity">Allocated
												Quantity</th>
											<th scope="col" class="col-md-2 text-center allocationQuantity">Allocation
												for
												Lifting</th>
											<th scope="col" class="col-md-1 text-center indentorQuantity">Allocated
												Quantity</th>
											<th scope="col" class="col-md-2 text-center indentorQuantity">Quantity Left
												for
												Allocation</th>
											<th scope="col" class="col-md-1 text-center indentorQuantity">Action</th>

										</tr>
									</thead>

									<tbody>
										<tr *ngIf="indentorLoad && indentors && indentors.length > 0">
											<!-- {{indentors|json}} -->
											<td>
												<form [formGroup]="tempForm">
													<ng-multiselect-dropdown class="seed-division-variety"
														formControlName="selectedIndentorModel"
														[placeholder]="'Select SPA'" [settings]="dropdownSettings"
														(onSelect)="onSelectIndentor($event)" [data]="indentors">
													</ng-multiselect-dropdown>
												</form>

											</td>

											<td class="text-center">
												<span
													*ngIf="!editVarietyForm.controls['variety_id'].value?.[0]?.value ">
													{{selectedIndentor && selectedIndentor.indent_quantity &&
													getQuantityOfSeedProduced(selectedIndentor.indent_quantity) || 0}}
													/
													{{selectedIndentor && selectedIndentor.indent_quantity &&
													getQuantityOfSeedProduced(selectedIndentor.indent_quantity) || 0}}

												</span>
												<span
													*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew && isCropSubmitted">
													{{selectedIndentor && selectedIndentor.indent_quantity &&
													getQuantityOfSeedProduced(selectedIndentor.indent_quantity) || 0}}
													/
													{{selectedIndentor && selectedIndentor.indent_quantity || 0}}

												</span>
											</td>
											<td class="text-center m-p-0">
												<table class="table table-bordered">
													<tbody *ngIf="selectedIndentor && selectedIndentor.productions">
														<!-- {{selectedIndentor.productions|json}} -->
														<tr
															*ngFor="let production of selectedIndentor.productions; let productionIndex = index">
															<td style="min-width: 150px;">{{production.agency_name ||
																'N/A'}}
															</td>

															<td style="min-width: 150px;"
																*ngIf="this.varietyForm.controls['variety_id'].value">
																<form [formGroup]="inputForm">
																	<!-- formControlName="quantityInputBox" -->
																	<!-- <input type="text" [value]="production.quantity" class="qty-txt" type="text"> -->
																	<input #tempInput class="qty-txt" type="text"
																		formControlName="quantityInputBox"
																		(keypress)="isNumberKey($event)" step="0.01"
																		(keyup)="qtyChanged($event, production, productionIndex)"
																		[value]="production.quantity">
																</form>

															</td>
															<td style="min-width: 150px;"
																*ngIf="(editVarietyForm.controls['variety_id'].value && editVarietyForm.controls['variety_id'].value[0] && editVarietyForm.controls['variety_id'].value[0].value)">
																<form [formGroup]="inputForm">
																	<!-- formControlName="quantityInputBox" -->
																	<!-- <input type="text" [value]="production.quantity" class="qty-txt" type="text"> -->
																	<input #tempInput class="qty-txt" type="text"
																		(keypress)="isNumberKey($event)" step="0.01"
																		(keyup)="qtyChanged($event, production, productionIndex)"
																		[value]="production.quantity">
																</form>

															</td>

														</tr>

													</tbody>
												</table>
											</td>

											<td class="text-center">
												{{selectedIndentor && selectedIndentor.allocated_quantity &&
												getQuantityOfSeedProduced(selectedIndentor.allocated_quantity)}}
											</td>
											<td class="text-center">
												{{selectedIndentor && selectedIndentor.quantity_left_for_allocation &&
												getQuantityOfSeedProduced(selectedIndentor.quantity_left_for_allocation)}}
											</td>

											<td class="tex-center">
												<div class="resp_btn">
													<a href="javascript:void(0)" type="submit"
														class="form_submit_btn submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
														(click)="submitData(selectedIndentor )">
														Save
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<hr>
					<!-- -->
					<div class="row my-2" *ngIf="!isCropSubmittedNew && isCropSubmitted">
						<div class="col">
							<div class="row" *ngIf="dataToShow && dataToShow.length > 0 ">
								<div class="col">
									<div class="table-responsive" *ngIf="editSelectedVariety">
										<table class="table">
											<thead class="thead">
												<tr>
													<td scope="col" style="font-weight: 600;">Name of BSPCs</td>
													<td scope="col" style="font-weight: 600;">Quantiity Produced</td>
													<td scope="col" style="font-weight: 600;">Quantiity Allocated</td>
													<td scope="col" style="font-weight: 600;">Quantiity Left</td>
													<!-- <td class="bspcName" scope="col" style="font-weight: 600;"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{data.user.name}}</td> -->
												</tr>
											</thead>

											<tbody>
												<tr
													*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
													<td>{{data && data.user && data.user.name ? data.user.name :'NA'}}
													</td>

													<td>{{data && data.producedquantity ? data.producedquantity :'NA'}}
													</td>
													<td>{{data && data.quantityAllocated ?
														getQuantityOfSeedProduced(data.quantityAllocated):''}}</td>
													<!-- <td>{{data && data.quantityProduced && data.quantityAllocated &&
														((data.quantityProduced - data.quantityAllocated) < 0 ) ? 0 :
															getQuantityOfSeedProduced(data.quantityProduced -
															data.quantityAllocated)}}</td> -->
													<td>{{data && data.quantityProduced && data.quantityAllocated &&
														((data.quantityProduced - data.quantityAllocated) < 0 ) ? 0 :
															getQuantityOfSeedProduced(data.quantityProduced -
															data.quantityAllocated)}}</td>
												</tr>
												<!-- <tr>
													<th scope="row">
														Quantity Allocated By Seed Divison
													</th>
													<th class="bspcName" scope="col"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{getQuantityOfSeedProduced(data.qty)}}
													</th>

												</tr>
												<tr>
													<th scope="row">
														Quantity Allocated to SPA
													</th>
													<th class="bspcName" scope="col"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{getQuantityOfSeedProduced(data.quantityAllocated)}}
													</th>
												</tr>
												<tr>
													<th scope="row">
														Quantity Left
													</th>
													<th class="bspcName" scope="col"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{data && data.qty && data.quantityAllocated &&
														((data.qty - data.quantityAllocated) < 0 ) ? 0 :
															getQuantityOfSeedProduced(data.qty -
															data.quantityAllocated)}} </th>
												</tr> -->
											</tbody>
										</table>
									</div>
								</div>
							</div>



							<div class="row" *ngIf="editSelectedVariety">
								<div class="col">
									<div class="table-responsive">
										<table class="table">
											<thead class="thead">
												<tr>
													<th scope="col" class="text-center indenterName">Name of Indenters
													</th>
													<th scope="col" class="text-center indentorQuantity">Allocated
														Quantity</th>
													<th scope="col" class="text-center allocationQuantity">Allocation
														for
														Lifting</th>
													<th scope="col" class="text-center indentorQuantity">Allocated
														Quantity</th>
													<th scope="col" class="text-center indentorQuantity">Quantity Left
														for
														Allocation</th>
													<th scope="col" class="text-center indentorQuantity">Action</th>

												</tr>
											</thead>

											<tbody>
												<tr>
													<td>
														<form [formGroup]="editTempForm">
															<ng-multiselect-dropdown class="seed-division-variety"
																formControlName="selectedIndentorModel"
																[placeholder]="'Select SPA'"
																[settings]="dropdownSettings"
																(onSelect)="onEditIndentor($event)"
																[data]="editSelectedVariety.indenter">
															</ng-multiselect-dropdown>
														</form>

													</td>

													<td class="text-center">
														{{editSelectedIndentor && editSelectedIndentor.indent_quantity
														&&
														getQuantityOfSeedProduced(editSelectedIndentor.indent_quantity)
														|| 0}}
														/
														{{editSelectedIndentor && editSelectedIndentor.indent_quantity
														&&
														getPercentage(editSelectedIndentor.indent_quantity) || 0}}
													</td>
													<td class="text-center m-p-0">
														<table class="table table-bordered">
															<tbody
																*ngIf="editSelectedIndentor && editSelectedIndentor.productions">
																<tr
																	*ngFor="let production of editSelectedIndentor.productions; let productionIndex = index">
																	<td style="min-width: 150px;">{{production.name ||
																		'N/A'}}
																	</td>
																	<td style="min-width: 150px;">
																		<div>
																			<input class="qty-txt" type="text"
																				(keypress)="isNumberKey($event)"
																				step="0.01"
																				(keyup)="editQtyChanged($event, production, productionIndex)"
																				[(value)]="production.quantity">
																		</div>

																	</td>

																</tr>

															</tbody>
														</table>
													</td>

													<td class="text-center">
														{{editSelectedIndentor &&
														editSelectedIndentor.allocated_quantity &&
														getQuantityOfSeedProduced(editSelectedIndentor.allocated_quantity)}}
													</td>
													<td class="text-center">
														{{editSelectedIndentor &&
														editSelectedIndentor.quantity_left_for_allocation &&
														getQuantityOfSeedProduced(editSelectedIndentor.quantity_left_for_allocation)}}
													</td>

													<td class="tex-center">
														<div class="resp_btn">
															<a href="javascript:void(0)"
																class="form-button submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
																(click)="updateVarietyData(editSelectedIndentor)">
																Update
															</a>
														</div>

														<div class="resp_btn">
															<a href="javascript:void(0)"
																class="form-button submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
																(click)="cancelVarietyData(selectedIndentor)">

																Cancel
															</a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col" *ngIf="dataToDisplay && dataToDisplay.length > 0">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead class="thead">
										<tr>
											<th scope="col" class="text-center">Variety Name</th>
											<th scope="col" class="text-center">Name of SPAs</th>
											<th scope="col" class="text-center">Indented Quantity({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<th scope="col" class="text-center">Name of BSPC</th>
											<th scope="col" class="text-center">Allocated Quantity of BSPC({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<th scope="col" class="text-center">Total Allocated Quantity({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<th scope="col" class="text-center">Quantity Left for Allocation({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<!-- <th scope="col" class="text-center">Action</th> -->

										</tr>
									</thead> 
									<!-- <tbody>
											<ng-container *ngFor="let data of dataToDisplay; let cropIndex = index">
  <ng-container *ngFor="let spaData of data.productionData; let spaIndex = index">
    <tr>
       
      <td *ngIf="spaIndex === 0" [attr.rowspan]="data.productionData.length">
        {{ data.variety_id ? getVarietyName(data.variety_id) : (data.variety_name || 'NA') }}
        <br />
        <span *ngIf="data.line_variety_name">
          {{ data.line_variety_name || 'NA' }}
        </span>
      </td>

       
      <td class="text-center" *ngIf="spaIndex === 0" [attr.rowspan]="data.productionData.length">
        {{ data.indenter[0]?.name || 'NA' }}
      </td>

     
      <td class="text-center" *ngIf="spaIndex === 0" [attr.rowspan]="data.productionData.length">
        {{ data.indenter[0]?.indent_quantity ? getQuantityOfSeedProduced(data.indenter[0].indent_quantity) : '0' }}
      </td>

      
      <td>{{ spaData.agency_name || 'NA' }}</td>

       
      <td class="text-center">
        {{ spaData.quantity ? getQuantityOfSeedProduced(spaData.quantity) : '0' }}
      </td>

       
      <td class="text-center" *ngIf="spaIndex === 0" [attr.rowspan]="data.productionData.length">
        {{ data.indenter[0]?.allocated_quantity ? getQuantityOfSeedProduced(data.indenter[0].allocated_quantity) : '0' }}
      </td>

       
      <td class="text-center" *ngIf="spaIndex === 0" [attr.rowspan]="data.productionData.length">
        {{ data.indenter[0]?.quantity_left_for_allocation ? getQuantityOfSeedProduced(data.indenter[0].quantity_left_for_allocation) : '0' }}
      </td>
    </tr>
  </ng-container>
</ng-container>

									</tbody> -->
								 
<tbody>
		<ng-container *ngFor="let data of dataToDisplay; let cropIndex = index">
										<ng-container
											*ngFor="let varietyData of data.indenter; let varietyIndex = index">
											<ng-container
												*ngFor="let spaData of varietyData.productions; let spaIndex = index">
												<tr>
												 
													<!-- <td *ngIf="spaIndex === 0 && varietyIndex === 0"
														[attr.rowspan]="data.totalVarietyLength">
														<span
															*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value">
														 
															{{data && data.variety_id ? getVarietyName(data.variety_id) :
															(data.variety_name || '') }}
														</span>
														 
														<span *ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew  ">
														{{data && data.variety_id ? getVarietyName1(data.variety_id) :
															(data.variety_name || '') }}
														</span>
														<span *ngIf="isCropSubmitted && !editVarietyForm.controls['variety_id'].value?.[0]?.value"
															>
															{{data && data.variety_id ? getVarietyName1(data.variety_id) :
															(data.variety_name || '') }}
															 
														</span>
														<br />
														<span *ngIf="data.line_variety_name">
															{{ data.line_variety_name || '' }}
														</span>
													</td> -->
													<td *ngIf="spaIndex === 0 && varietyIndex === 0"
                                                        [attr.rowspan]="data.totalVarietyLength">

                                                    <ng-container [ngSwitch]="true">

                                                     <!-- Case 1 -->
                                                    <span *ngSwitchCase="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value">
                                                       {{ data?.variety_id ? getVarietyName(data.variety_id) : (data.variety_name || '') }}
                                                    </span>

                                                       <!-- Case 2 -->
                                                    <span *ngSwitchCase="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew">
                                                      {{ data?.variety_id ? getVarietyName1(data.variety_id) : (data.variety_name || '') }}
                                                    </span>

                                                    <!-- Case 3 -->
                                                    <span *ngSwitchDefault>
                                                    {{ data?.variety_id ? getVarietyName1(data.variety_id) : (data.variety_name || '') }}
                                                       </span>

                                                    </ng-container>
  
														<br />
														<span *ngIf="data.line_variety_name">
															{{ data.line_variety_name || '' }}
														</span>

                                                    </td>


													 
													<td class="text-center" *ngIf="spaIndex === 0 "
														[attr.rowspan]="varietyData.productions.length">
														{{ varietyData.name || '' }} 
													</td>

													 
													<td class="text-center" *ngIf="spaIndex === 0"
														[attr.rowspan]="varietyData.productions.length">
														{{ varietyData.indent_quantity ?
														getQuantityOfSeedProduced(varietyData.indent_quantity) : '' }}
													</td>

													 
													<td>
														<span *ngIf="varietyForm.controls['variety_id'].value">
															{{ spaData.agency_name || '' }}
														</span>
														<span
															*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value || isCropSubmitted">
															{{ getUserData(spaData.name) || '' }}
														</span>
													</td>

													 
													<td class="text-center">
														<span
															*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value  && !editVarietyForm.controls['variety_id'].value?.[0]?.value ">
															 
															{{spaData.quantity ?
															getQuantityOfSeedProduced(spaData.quantity)
															: ''}}
														</span>
														<span *ngIf="isCropSubmitted  && !editVarietyForm.controls['variety_id'].value?.[0]?.value ">
															{{ spaData.allocated_quantity ?
															getQuantityOfSeedProduced(spaData.allocated_quantity) : ''
															}}

														</span>
														<span
															*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew ">
															{{spaData.quantity ?
															getQuantityOfSeedProduced(spaData.quantity)
															: ''}}
														</span>
													</td>

													 
													<td class="text-center" *ngIf="spaIndex === 0"
														[attr.rowspan]="varietyData.productions.length">
														<span
															*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value   && !editVarietyForm.controls['variety_id'].value?.[0]?.value ">
															 
															{{varietyData.allocated_quantity ?
															getQuantityOfSeedProduced(varietyData.allocated_quantity) :
															''}}
														</span>
														<span *ngIf="isCropSubmitted  && !editVarietyForm.controls['variety_id'].value?.[0]?.value ">
															{{ varietyData.quantity ?
															getQuantityOfSeedProduced(varietyData.quantity) : '' }}
														</span>
														<span
															*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew ">
															{{varietyData.allocated_quantity ?
															getQuantityOfSeedProduced(varietyData.allocated_quantity) :
															''}}
														</span>


													</td>

													 
													<td class="text-center" *ngIf="spaIndex === 0"
														[attr.rowspan]="varietyData.productions.length">
														<span
															*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyForm.controls['variety_id'].value  && !editVarietyForm.controls['variety_id'].value?.[0]?.value ">
															{{varietyData.quantity_left_for_allocation ?
															getQuantityOfSeedProduced(varietyData.quantity_left_for_allocation)
															: ''}}
														</span>
														<span *ngIf="isCropSubmitted   && !editVarietyForm.controls['variety_id'].value?.[0]?.value ">
															{{ spaData.quantity_left_for_allocation
															?
															getQuantityOfSeedProduced(spaData.quantity_left_for_allocation)
															: '' }}
														</span>
														<span
															*ngIf="editVarietyForm.controls['variety_id'].value?.[0]?.value && !isCropSubmittedNew  ">
															{{varietyData.quantity_left_for_allocation ?
															getQuantityOfSeedProduced(varietyData.quantity_left_for_allocation)
															: ''}}
														</span>

													</td>
												</tr>
											</ng-container>
										</ng-container>
									</ng-container> 
</tbody>
									 
									 
									 

									<!-- Grand Total Row --> 
									 
										<!-- *ngIf="editVarietyForm.controls['variety_id'].value || isCropSubmitted" -->
										<tr *ngIf="showgrid1 && !editVarietyForm.controls['variety_id'].value && isCropSubmitted">
											<th></th>
											<th>Grand Total</th>
											<!-- <th></th> -->
											
											<th class="text-center">
												{{ totalIntentValue ? (totalIntentValue | number: '1.2-2') : 0 }}
											</th>
											<th></th>
											<th></th>
											<th class="text-center">
												{{ totalAllocateValue ? (totalAllocateValue | number: '1.2-2') : 0 }}
											</th>
											<th class="text-center">
												{{ totalleftValue ? (totalleftValue | number: '1.2-2') : 0 }}
											</th>
										</tr>
									 
								</table>
							</div>
						</div>
					</div>


					<ng-template #cropSubmitted>
						<div class="row">
							<div class="col" style="text-align: center;">
								<p><b>Crop Wise Submission has been Done.</b></p>
							</div>
						</div>
					</ng-template>

					<div class="row my-2">
						<div class="col">

							<div class="row" *ngIf="!isCropSubmittedNew && isCropSubmitted ">
								<div class="col">
									<button *ngIf="isEditingVariety" class="btn submitButtons " type="button"
										(click)="cancelEdit()">
										Cancel
									</button>

									<button *ngIf="selectedVerietyDetail; else disableVarietyBtn"
										class="btn submitButtons ml-2" type="submit">Variety Wise Submission</button>

									<ng-template #disableVarietyBtn>
										<button class="btn submitButtons disabled" disabled>Variety Wise Submission</button>

									</ng-template>
									 

									<button
										*ngIf="!isEditingVariety && tempVerietyListDetails && cropButtonEnable && tempVerietyListDetails.length == 0; else disableCropBtn"
										class="btn submitButtons ml-2" type="button" (click)="cropWiseSubmission()">
										Crop Wise Final Submission</button>

									<ng-template #disableCropBtn>
										<button class="btn submitButtons disabled ml-2"
											[ngClass]="isEdit?'disabled-btn':''" disabled>Crop Wise Final
											Submission</button>

									</ng-template>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>