.main-inventory {
    background-color: #FFFFFF;
    border: 1px #D2D2D2; 
    border-radius:10px  ;
    overflow-y: hidden; 
    height: auto; 
    margin: 1%;
    padding-left: 1.25%;
    padding-right: 1.5%;
    padding-bottom: 12%;  
    margin-left: 15px;  
    letter-spacing: 0px;
    color: #000000;
}

@media only screen and (width: 1480px){
    .main-inventory {
        zoom: 0.9;
    }
}

@media only screen and (width: 1057.14px){
    .main-inventory {
        zoom: 0.9;
    }
}

/* for 125% */
@media only screen and (width: 1480px){
    .main-inventory {
        zoom: 0.9;
    }
}

.title-inventory { 
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C1C1C; 
} 
.card-inventory {
    width: auto;
    height: auto; 
    border-radius: 10px;
    background: #B64B1D0D; 
} 
.label-inventory { 
    font-size: 14px;
    font-weight: 500; 
    letter-spacing: 0em;
    text-align: left;
    color: #1C1C1C; 
}


.label-inventory-v2 {
    /* font-family: Inter; */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #1C1C1C;
    white-space: nowrap !important;

}

.btn-inventory1 { 
    border-radius: 5px;
    color: white;
    border: none;
    height: 37px;
    outline: none;
    background: #B64B1D;
}

/* table start css */
    .table{
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
    }
    table  .col-md-2{
        max-width: 13.966667%;
      }

    
thead .table-bordered  {
    border: 1px solid #dddddd; 
    }
    .table {
        margin-bottom: 0rem !important;
    }

    .table thead th {
        text-align: center;
      }
      
      /* .table tbody td {
        text-align: center;
      } */
      
      .table td, .table th {
        padding: 0.75rem;
      }
      .table .form-button {
        display: inline-block;
        margin: 0;
      }
      .data-row-header {
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
        color: #FFFFFF;
        letter-spacing: 0px;
        background: #B64B1D 0% 0% no-repeat padding-box;
        margin: 0.2%;
        /* border-top: 7px !important; */
      }
      .data-row {
        border: 1px solid #A6A6A6;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        background-color: #FFFFFF;
        margin: 0.2%;
        margin-bottom: none !important;
        border-radius: 10px;
    }
    
    .data-row * {
        font-size: 14px !important; 
        letter-spacing: 0px;
        color: #000000;
    }
    .data-row {
        border: 1px solid #dcdcdc;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important; 
        background-color: #FFFFFF;
        margin: 0.2%;
        margin-bottom:none !important;
    }
    
    .data-row * {
        /* font-family: Inter; */
        /* font-weight: 500; */
        font-size:16px;
        text-align: left; 
        letter-spacing: 0px;
        color: #000000;
    }

    .heading1 {
        color: #228B22;
    }

    .headingofpdftable {
        background-color: #90EE90;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns */
        gap: 20px; /* Spacing between items */
      }
    
      .grid-item {
        text-align: center;
      }
     