:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

.main-inventory {
    background-color: #FFFFFF;
    border: 1px #D2D2D2;
    /* width: 1540px;
    height: 999px;
    top: 142px;
    left: 330px; */
    border-radius: 10px;
    /* border: 1px; */
    margin: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    /* width: auto;
    height: auto; */
    /* zoom: 0.9; */
}

.cancel {
    /* border: 1px solid #B64B1D; */
    /* background: #B64B1D; */
    background: rgba(182, 75, 29, 0.05) !important;
    color: #B64B1D !important;
    border-radius: 5px !important;
    outline: none !important;
    /* border: none !important; */
    width: 158px !important;
    height: 37px !important;
    /* border: 2px #B64B1D; */
    /* background: transparent; */

}

.btn-inventory-cancel {
    /* border: 1px solid #B64B1D; */
    /* background: #B64B1D; */
    background: rgba(182, 75, 29, 0.05);
    color: #B64B1D;
    border-radius: 5px;
    outline: none !important;
    /* border: none !important; */
    width: 158px;
    height: 37px;
    /* border: 2px #B64B1D; */
    /* background: transparent; */
}

.title-inventory {
    /* font-family: Inter; */
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C1C1C;
}

.card-inventory {
    width: auto;
    height: auto;
    /* top: 206px;
    left: 360px; */
    border-radius: 10px;
    background: #B64B1D0D;

}

.label-inventory {
    /* font-family: Inter; */
    font-size: 14px;
    font-weight: 500;
    /* font-weight: 500;
    line-height: 19px; */
    letter-spacing: 0em;
    text-align: left;
    color: #1C1C1C;
    /* font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C1C1C; */
    /* linear-gradient(0deg, #1C1C1C, #1C1C1C); */
    /* linear-gradient(0deg, #FF0000, #FF0000); */
}

.input-inventory {
    /* border: 1px solid #A1A1A1; */
    border: 1px solid #B64B1D !important;
    /* background: linear-gradient(0deg, #A2A2A2, #A2A2A2),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width: 420px;
    height: 43px;
    top: 254px;
    left: 372px; */
    /* border-radius: 8px; */
}

.btn-inventory1 {
    /* width: Hug (135px);
    height: Hug (43px); */
    /* top: 254px;
    left: 1705px;
    padding: 12px, 41px, 12px, 41px; */
    /* border-radius: 6px; */
    /* gap: 10px; */
    border-radius: 5px;
    color: white;
    border: none;
    height: 37px;
    outline: none;
    background: #B64B1D;
}

.form-button.search {
    width: 135px !important;
    align-items: center;
    height: 37px !important;
}

.form-button.search2 {
    margin-top: -5px;
    width: 135px !important;
    align-items: center;
    height: 37px !important;
}

.form-button.search3 {
    /* margin-top: -5px; */
    width: 135px !important;
    align-items: center;
    height: 37px !important;
}

.form-control {
    border-color: 2px solid #B64B1D;
}

.btn-inventory-text {
    color: #FFFFFF;
}

.dotted {
    /* border:1px dotted #B64B1D; */
    /* background: #A6A6A6; */
    /* z-index: 2;
    margin-top: -130px; */
    border: 1px dotted #A6A6A6;
}

.radio-button {
    width: 25px;
    height: 25px;
}

input[type='radio'] {
    accent-color: #d7720f;
    top: -6px;
    left: 12px;
}

/*start table css */
.data-row-header {
    /* background: #B64B1D 0% 0% no-repeat padding-box;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0.2%; */
    /* padding: 2%; */
}

.data-row-header * {
    /* font: normal Poppins 600 13px/16px;
    font-weight: 500; */
    font-size: 16px !important;
    font-weight: 500 !important;
    letter-spacing: 0px;
    color: #FFFFFF !important;
}

.data-row {
    border: 1px solid #A6A6A6;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #FFFFFF;
    margin: 0.2%;
    margin-bottom: none !important;
}

.data-row * {
    /* font-family: Inter; */
    font-size: 16px;
    font-weight: 500;
    /* line-height: 24px; */
    /* font: normal Poppins 15px/18px; */
    letter-spacing: 0px;
    color: #000000;
}

.containers .multiselect-dropdown .dropdown-btn {
    border: 1px solid #B64B1D !important;
}

.disable_btn {
    cursor: none;
    display: block;
}

@media only screen and (max-width: 1333px) {
    .main-inventory {
        /* background-color: lightblue; */
        zoom: 0.7;
    }

    .form-button.search2 {
        margin-top: -5px;
        width: 160px !important;
        align-items: center;
        height: 37px !important;
    }

    .form-button.search3 {
        /* margin-top: -5px; */
        width: 135px !important;
        align-items: center;
        height: 37px !important;
    }
}

tr td {
    /* background-color: orange; */
    text-align: center;
    background-color: #FFFFFF;

}

th {
    background: #B64B1D 0% 0% no-repeat padding-box;
    color: white;
    border: none;
}

table th:first-child {
    border-radius: 10px 0 0 0;
}

table th:last-child {
    border-radius: 0 10px 0 0;

}

.list-action-buttons-second,
.list-action-buttons-second:focus,
.list-action-buttons-second:active {
    width: 32px;
    /* height: 39px; */
    height: 35px;
    outline: none;
    border-radius: 10px;
    border: none !important;
    fill: #B64B1D !important;
    background: none;
    cursor: pointer;
}
.list-action-buttons-second1,
.list-action-buttons-second1:focus,
.list-action-buttons-second1:active {
    width: 33px;
    /* height: 39px; */
    height: 35px;
    outline: none;
    border-radius: 10px;
    border: none !important;
    fill: #B64B1D !important;
    background: none;
    cursor: pointer;
    margin-left: 5px;
}

.card-monitoring {
    width: auto;
    height: auto;
    /* top: 206px;
    left: 360px; */
    border-radius: 10px;
    background: #F4F4F4;
    /* opacity: 0.7; */

}

.dropdown-toggle,
.form-control {
    height: 38px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #979797 !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    font: normal Poppins 16px/25px !important;
    letter-spacing: 0px !important;
    color: rgb(0, 0, 0, 0.7) !important;
    /* text-transform: capitalize !important; */
    text-align: left;
}

.label-inventorys {
    text-align: left;
    font: normal Poppins;
    letter-spacing: 0px;
    color: #2329ff;
    opacity: 1;
    font-weight: 600;
}

.td {
    min-width: 10em !important;
}

.team_name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.data-row2 {
    letter-spacing: 0px !important;
    color: #000000;
    font-size: 13px !important;
    font-weight: 400 !important;
    /* border: 1px solid gray !important; */
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.table-responsive {
    display: contents !important;
}
.color{
    background: #B64B1D33 !important;
    opacity: .9;
}
.is_disabled{
    cursor: none;
    opacity:0.6
}

.is_enabled{
    cursor: pointer;
}
.disabled-btn{
    cursor: none;
    opacity:0.6
}