<form [formGroup]="formSuperGroup" (ngSubmit)="submitForm(formSuperGroup.value)">
	<div class="row my-4 w-100 mx-0 form-child">
		<div class="col-12 px-md-3 px-sm-3 px-0">
			<div class="row mx-auto main-content-form-wrapper py-2">

				<div class="col-12"
					style="letter-spacing: 0px;color: #000000 !important; font-style: normal Poppins; font-weight: bold;font-size : 20px">
					Breeder Seed Allocation to Indenters for Lifting
				</div>

				<div class="col-10 px-1 mt-3">
					<app-dynamic-fields [fieldsList]="fieldsList" [isLabelControlParallel]="false"
						[formGroup]="IstPartFormGroup" [isView]="isView"></app-dynamic-fields>
				</div>

				<div class="col-sm-2 col-12 pt-5 mt-1" style="display: inline-flex;">
					<div class="resp_btn">
						<a href="javascript:void(0)" (click)="search()"
							class="form-buttons submit_btn d-inline-flex justify-content-center verticle-content-middle mb-3">
							Search
						</a>
					</div>
					<div *ngIf=" ( varietyDropdownData.length == 0) && dataToDisplay.length" class="resp_btn">
						<a href="javascript:void(0)"
							class="form-buttons submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
							(click)="exportexcel()">
							<img src="assets\icons\icons8-excel_white.svg" alt="" width="20px" alt=""> &nbsp;
							Excel
						</a>
					</div>
					<!-- <div class="resp_btn">
						<a href="javascript:void(0)"
							class="form-button submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
							(click)="clear()">
							Clear
						</a>
					</div> -->
				</div>





				<!-- <div class="resp_btn">
					<a href="javascript:void(0)" (click)="exportexcel()"><img src="assets\icons\excel.jpg" alt="" width="20px" alt=""> Excel</a>
				</div> -->
				<table class="table table-bordered table-responsive" id="excel-table" style="display:none">
					<thead>
						<tr>
							<th> <b>Year of indent: {{IstPartFormGroupControls["yearofIndent"].value.value}}-{{(IstPartFormGroupControls["yearofIndent"].value.value-2000)+1}}
								<!-- {{reportHeader && reportHeader['year'] ?
									reportHeader['year']+'-'+(reportHeader['year']-1999) :
									'NA'}} -->
								</b></th>
							<th><b>Season: {{IstPartFormGroupControls["season"].value["value"]?(IstPartFormGroupControls["season"].value["value"]=='R'?'Rabi':'Kharif'):'NA'}}
								<!-- {{reportHeader && reportHeader['season'] ? (reportHeader['season'] =='R' ?
									'Rabi':'Kharif' ) : 'NA'}} -->
								</b></th>
							<th> <b>Crop:{{IstPartFormGroupControls['cropName'].value['name']}} 
								<!-- {{reportHeader && reportHeader['crop_name'] ? reportHeader['crop_name'] :
									'NA'}} -->
								</b></th>
						</tr>
						<tr class="data-row-header col-12">
							<th scope="col" class="col-md-2 text-center">Variety Name</th>
							<th scope="col" class="col-md-2 text-center">Name of Indenters</th>
							<th scope="col" class="col-md-2 text-center">Indented Quantity({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})</th>
							<th scope="col" class="col-md-2 text-center">Name of BSPC</th>
							<th scope="col" class="col-md-2 text-center">Allocated Quantity of BSPC({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})</th>
							<th scope="col" class="col-md-2 text-center">Total Allocated Quantity({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})</th>
							<th scope="col" class="col-md-2 text-center">Quantity Left for Allocation({{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})</th>
						</tr>
					</thead>
					<tbody>

						<ng-container>
							<ng-container *ngFor="let data of dataToDisplay; let cropIndex = index">
								<ng-container *ngFor="let varietyData of data.indentors; let varietyIndex = index">
									<ng-container *ngFor="let spaData of varietyData.productions; let spaIndex = index">
										<tr>
											<td *ngIf="spaIndex === 0 && varietyIndex === 0"
												[attr.rowspan]="data.totalVarietyLength">
												<span *ngIf="this.varietyForm.controls['variety_id'].value">{{data
													&& data.variety_id ? getVarietyName(data.variety_id): data
													&& data.variety_name ? data.variety_name :'NA'}}ooooo</span>
												<span
													*ngIf="(this.editVarietyForm.controls['variety_id'].value && this.editVarietyForm.controls['variety_id'].value[0] && this.editVarietyForm.controls['variety_id'].value[0].value) || isCropSubmittedNew">
													{{data && data.variety_id ?
													getVarietyName2(data.variety_id)
													: 'NA'}}ppp
												</span>
												<br>
												<span>Parental Line:{{data && data.line_name ?
													(data.line_name)
													: 'NA'}}</span>

											</td>
											<td class="text-center" *ngIf="spaIndex === 0"
												[attr.rowspan]="varietyData.totalProductionlength">
												{{varietyData && varietyData.name ? varietyData.name :
												'NA'}}

											</td>
											<td class="text-center" *ngIf="spaIndex === 0"
												[attr.rowspan]="varietyData.totalProductionlength">
												{{getQuantityOfSeedProduced(varietyData.indent_quantity)
												||
												'0'}}

											</td>
											<td *ngIf="spaData">
												{{spaData && spaData.agency_name ? spaData.agency_name :spaData &&
												spaData.name ? spaData.name:'NA'}}
											</td>
											<td *ngIf="spaData">
												{{getQuantityOfSeedProduced(spaData.quantity) || '0'}}
											</td>
											<td *ngIf="spaIndex === 0"
												[attr.rowspan]="varietyData.totalProductionlength">

												{{getQuantityOfSeedProduced(varietyData.allocated_quantity)
												|| '0'}}
											</td>
											<td *ngIf="spaIndex === 0"
												[attr.rowspan]="varietyData.totalProductionlength">
												{{getQuantityOfSeedProduced(varietyData.quantity_left_for_allocation)
												|| '0'}}
											</td>


										</tr>
									</ng-container>
								</ng-container>

							</ng-container>
						</ng-container>

					</tbody>
<!-- totalData &&  -->
					<tr *ngIf="totalData" style="font-weight: 700;">
						<td>
							{{totalData.name}}
						</td>
						<td></td>
						<td class="text-center">
							{{getQuantityOfSeedProduced(totalData.indent_quantity) ?? '0'}}
						</td>
						<td></td>
						<td></td>
						<td class="text-center">
							{{getQuantityOfSeedProduced(totalData.allocated_quantity) ?? '0'}}
						</td>
						<td class="text-center">
							{{getQuantityOfSeedProduced(totalData.left_quantity) ?? '0'}}
						</td>
					</tr>


				</table>
				<ng-template #noVarietyData>
					<div *ngIf="!items.length" style="text-align: center; width: 100%;">
						<p class="my-2 mx-auto">No Data Found</p>
					</div>
				</ng-template>

				<!-- letest d-none implement 2/09/2025 by shubham -->
				<div class="col-12 mt-1 d-none" *ngIf="upperRowDisplay">
					<div class="row px-2">
						<div class="col-sm-3 col-12">
							<label class="bold-label ">Total Number of Variety :
								{{verietyListDetails.totalNumberOfVariety ?
								verietyListDetails.totalNumberOfVariety : 'N/A' }}</label>
						</div>
						<div class="col-sm-3 col-12 d-flex justify-content-end">
							<label class="bold-label">Total Indenting Quantity :
								{{verietyListDetails.nationalQty ?
								getQuantityOfSeedProduced(verietyListDetails.nationalQty) : 'N/A' }} {{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}

							</label>
						</div>
						<div class="col-sm-3 col-12 d-flex justify-content-end">
							<label class="bold-label">Total Production :
								{{verietyListDetails.totalProduction ?
								getQuantityOfSeedProduced(verietyListDetails.totalProduction) : 'N/A' }} {{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}

							</label>
						</div>
						<div class="col-sm-3 col-12 d-flex justify-content-end">
							<label class="bold-label">Total Production Percentage :
								{{verietyListDetails.totalProduction ?
								getPercentageValue(verietyListDetails.totalProduction,verietyListDetails.nationalQty) :
								'N/A' }}
							</label>
						</div>
					</div>

					<!-- <div class="row px-2">
						<div class="col-sm-6 col-12">
							<label class="bold-label">Total Production Quantity :
								{{verietyListDetails.totalAllocationQuantity ?
								getQuantityOfSeedProduced(verietyListDetails.totalAllocationQuantity) : 'N/A' }}
								{{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}

							</label>
						</div>
						<div class="col-sm-6 col-12" style="text-align: right;">
							<label class="bold-label">
								Total Allocation Quantity : {{getQuantityOfSeedProduced(totalAllocationQuantity) ?? '0'}}
								{{
								searhedData && IstPartFormGroupControls['cropName'].value &&
								IstPartFormGroupControls['cropName'].value.value ?
								getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}

							</label>
						</div>
					</div> -->
				</div>


				<div class="col-12 mt-1" *ngIf="varietyDataload">
					<div class="row" *ngIf="!isCropSubmittedNew && isCropSubmitted">
						<div class="col-md-3 col-sm-12" *ngIf="varietyDropdownData && varietyDropdownData.length >0">
							<form [formGroup]="varietyForm">
								<label for="year" class="label-inventory required">Select Variety</label>
								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_id"
									[placeholder]="'Select Variety'" [settings]="dropdownSettings"
									(onSelect)="onSelectVariety($event)" [data]="varietyDropdownDatasecond">
								</ng-multiselect-dropdown>

							</form>
						</div>

						<div class="col-3"
							*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyLine && varietyLine.length>0">
							<form [formGroup]="varietyForm">

								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_line"
									[placeholder]="'Select Parental Line'" [settings]="dropdownSettings1"
									(onSelect)="onSelectVarietyLine($event)"
									[data]="varietyLine"></ng-multiselect-dropdown>

							</form>
						</div>
						<div class="col-3"
							*ngIf="!isCropSubmittedNew && isCropSubmitted && editVarietyDropdown && editVarietyDropdown.length>0 && (varietyDropdownData && varietyDropdownData.length ==0)">
							<form [formGroup]="editVarietyForm">
								<label for="year" class="label-inventory required">Select Variety for Edit</label>
								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_id"
									[placeholder]="'Select Variety for Edit'" [settings]="dropdownSettings"
									(onSelect)="onSelectEditVariety($event)" [data]="editVarietyDropdown">
								</ng-multiselect-dropdown>
							</form>
						</div>
						<div class="col-3 pt-2"
							*ngIf="!isCropSubmittedNew && isCropSubmitted && varietyLineedit && varietyLineedit.length > 0">
							<form [formGroup]="editVarietyForm">
								<ng-multiselect-dropdown class="seed-division-variety" formControlName="variety_line"
									[placeholder]="'Select Parental Line for Edit'" [settings]="dropdownSettings1"
									(onSelect)="onSelectEditVariety($event)" [data]="varietyLineedit">
								</ng-multiselect-dropdown>
							</form>
						</div>
					</div>

					<div class="row" *ngIf="selectedVerietyDetail">
						<div class="col-12 mt-2 pr-0 pl-2">
							<div class="row mx-1 aloc_breeder_padding mt-3 p-1">
								<div class="col-3 px-2">
									<label class="bold-label">Total Indenting Quantity :

										{{selectedVerietyDetail && selectedVerietyDetail.totalIndentQuantity ?
										getQuantityOfSeedProduced(selectedVerietyDetail.totalIndentQuantity) : 'N/A' }}

									</label>
								</div>
								<div class="col-3 px-2 d-flex justify-content-end ">
									<label class="bold-label">Total Production :

										{{selectedVerietyDetail && selectedVerietyDetail.totalAllocationQuantity ?
										getQuantityOfSeedProduced(selectedVerietyDetail.totalAllocationQuantity) : 'N/A'
										}}

									</label>
								</div>

								<div class="col-3 pl-2 d-flex justify-content-end">
									<label class="bold-label">Production Percentage :
										{{getPercentageValue(selectedVerietyDetail.totalAllocationQuantity,selectedVerietyDetail.totalIndentQuantity)
										|| '0'}}
									</label>
								</div>

								<div class="col-3 pl-2 d-flex justify-content-end">
									<label class="bold-label">Quantity Unit : {{
										searhedData && IstPartFormGroupControls['cropName'].value &&
										IstPartFormGroupControls['cropName'].value.value ?
										getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}}
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row" *ngIf="selectedVerietyDetail">
						<div class="col">
							<div class="table-responsive">
								<table class="table">
									<thead class="thead">
										<tr>
											<td scope="col" style="font-weight: 600;">Name of BSPCs</td>
											<td scope="col" style="font-weight: 600;">Quantity Produced</td>
											<td scope="col" style="font-weight: 600;">Quantity Allocated</td>
											<td scope="col" style="font-weight: 600;">Quantity Left</td>
											<!-- <td class="bspcName" scope="col" style="font-weight: 600;"
												*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">
												{{data.user.name}}</td> -->
										</tr>
									</thead>

									<tbody>
										<tr
											*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">
											<td>{{data && data.agency_detail && data.agency_detail.agency_name ?
												data.agency_detail.agency_name :'NA'}}</td>
											<td style="background-color: rgb(255, 211, 161);">{{data &&
												data.quantityProduced ? data.quantityProduced :'NA'}}</td>
											<td style="background-color: rgb(172, 255, 191);">{{data &&
												data.quantityAllocated ?
												getQuantityOfSeedProduced(data.quantityAllocated):''}}</td>
											<td style="background-color: rgb(253, 164, 164);">{{data &&
												data.quantityProduced && data.quantityAllocated &&
												((data.quantityProduced - data.quantityAllocated) < 0 ) ? 0 :
													getQuantityOfSeedProduced(data.quantityProduced -
													data.quantityAllocated)}}</td>
										</tr>
										<!-- <tr>
											<th scope="row">
												Quantity Produced
											</th>
											<th class="bspcName" scope="col"
												*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">
												{{getQuantityOfSeedProduced(data.quantityProduced)}}
											</th>

										</tr>
										<tr>
											<th scope="row">
												Quantity Allocated
											</th>
											<th class="bspcName" scope="col"
												*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">
												{{getQuantityOfSeedProduced(data.quantityAllocated)}}
											</th>
										</tr>
										<tr>
											<th scope="row">
												Quantity Left
											</th>
											<th class="bspcName" scope="col"
												*ngFor="let data of selectedVerietyDetail.productionCenters; let dataIndex=index">
												{{data && data.quantityProduced && data.quantityAllocated &&
												((data.quantityProduced - data.quantityAllocated) < 0 ) ? 0 :
													getQuantityOfSeedProduced(data.quantityProduced -
													data.quantityAllocated)}} </th>
										</tr> -->
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="row" *ngIf="selectedVerietyDetail && indentorLoad && indentors && indentors.length > 0">

						<div class="col">
							<div class="table-responsive">
								<table class="table">
									<thead class="thead">
										<tr>
											<th scope="col " class="col-md-3 text-center indenterName">Name of Indenters
											</th>
											<th scope="col" class="col-md-2 text-center indentorQuantity">Indented
												Quantity</th>
											<th scope="col" class="col-md-2 text-center allocationQuantity">Allocation
												for
												Lifting</th>
											<th scope="col" class="col-md-1 text-center indentorQuantity">Allocated
												Quantity</th>
											<th scope="col" class="col-md-1 text-center indentorQuantity">Quantity Left
												for
												Allocation</th>
											<th scope="col" class="col-md-1 text-center indentorQuantity">Action</th>

										</tr>
									</thead>

									<tbody>
										<tr *ngIf="indentorLoad && indentors && indentors.length > 0">
											<td>
												<form [formGroup]="tempForm">
													<ng-multiselect-dropdown class="seed-division-variety"
														formControlName="selectedIndentorModel"
														[placeholder]="'Select Indentor'" [settings]="dropdownSettings"
														(onSelect)="onSelectIndentor($event)" [data]="indentors">
													</ng-multiselect-dropdown>
												</form>

											</td>

											<td class="text-center">
												{{selectedIndentor && selectedIndentor.indent_quantity &&
												getQuantityOfSeedProduced(selectedIndentor.indent_quantity) || 0}}
												/
												{{selectedIndentor && selectedIndentor.indent_quantity &&
												getPercentage(selectedIndentor.indent_quantity) || 0}}
											</td>
											<td class="text-center m-p-0">
												<table class="table table-bordered">
													<tbody *ngIf="selectedIndentor && selectedIndentor.productions">


														<tr
															*ngFor="let production of selectedIndentor.productions; let productionIndex = index">
															<td style="min-width: 150px;">

																{{production.agency_name || 'N/A'}}
															</td>
															<td style="min-width: 150px;">
																<!-- <form [formGroup]="inputForm"> -->
																<input #tempInput class="qty-txt" type="text"
																	name="quantityInputBox"
																	(keypress)="isNumberKey($event)" step="00.01"
																	(keyup)="qtyChanged($event, production)"
																	[(value)]="production.quantity">
																<!-- </form> -->

															</td>

														</tr>

													</tbody>
												</table>
											</td>

											<td class="text-center">
												{{selectedIndentor && selectedIndentor.allocated_quantity &&
												getQuantityOfSeedProduced(selectedIndentor.allocated_quantity)}}
											</td>
											<td class="text-center">
												{{selectedIndentor && selectedIndentor.quantity_left_for_allocation &&
												getQuantityOfSeedProduced(selectedIndentor.quantity_left_for_allocation)}}
											</td>

											<td class="tex-center">
												<div class="resp_btn">
													<a href="javascript:void(0)"
														class="form-buttons-grid submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
														(click)="submitData(selectedIndentor,selectedVerietyDetail)">
														Save
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<hr>

					<!-- <div class="row my-2" *ngIf="dataToShow && dataToShow.length > 0">
						<div class="col">
							<div class="row mb-2" *ngIf="editVarietyDropdown && editVarietyDropdown.length > 0">
								<div class="col-sm-4" *ngIf="!isCropSubmitted">
									<form [formGroup]="editVarietyForm">
										<ng-multiselect-dropdown class="seed-division-variety"
											formControlName="variety_id" [placeholder]="'Select Variety for Edit'"
											[settings]="dropdownSettings" (onSelect)="onSelectEditVariety($event)"
											[data]="editVarietyDropdown">
										</ng-multiselect-dropdown>
									</form>
								</div>
							</div>

							<div class="row" *ngIf="editSelectedVariety">
								<div class="col">
									<div class="table-responsive">
										<table class="table">
											<thead class="thead">
												<tr>
													<td scope="col" style="font-weight: 600;">Name of BSPCs</td>
													<td class="bspcName" scope="col" style="font-weight: 600;"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{data.user.name}}</td>
												</tr>
											</thead>

											<tbody>
												<tr>
													<th scope="row">
														Quantity Produced
													</th>
													<th class="bspcName" scope="col"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{getQuantityOfSeedProduced(data.quantityProduced)}}
													</th>

												</tr>
												<tr>
													<th scope="row">
														Quantity Allocated
													</th>
													<th class="bspcName" scope="col"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{getQuantityOfSeedProduced(data.quantityAllocated)}}
													</th>
												</tr>
												<tr>
													<th scope="row">
														Quantity Left
													</th>
													<th class="bspcName" scope="col"
														*ngFor="let data of editSelectedVariety.productionCenters; let dataIndex=index">
														{{data && data.quantityProduced && data.quantityAllocated &&
														((data.quantityProduced - data.quantityAllocated) < 0 ) ? 0 :
															getQuantityOfSeedProduced(data.quantityProduced -
															data.quantityAllocated)}} </th>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="row" *ngIf="editSelectedVariety">
								<div class="col">
									<div class="table-responsive">
										<table class="table">
											<thead class="thead">
												<tr>
													<th scope="col" class="text-center indenterName">Name of Indenters
													</th>
													<th scope="col" class="text-center indentorQuantity">Indented
														Quantity</th>
													<th scope="col" class="text-center allocationQuantity">Allocation
														for
														Lifting</th>
													<th scope="col" class="text-center indentorQuantity">Allocated
														Quantity</th>
													<th scope="col" class="text-center indentorQuantity">Quantity Left
														for
														Allocation</th>
													<th scope="col" class="text-center indentorQuantity">Action</th>

												</tr>
											</thead>

											<tbody>
												<tr>
													<td>
														<form [formGroup]="editTempForm">
															<ng-multiselect-dropdown class="seed-division-variety"
																formControlName="selectedIndentorModel"
																[placeholder]="'Select Indentor'"
																[settings]="dropdownSettings"
																(onSelect)="onEditIndentor($event)"
																[data]="editSelectedVariety.indenter">
															</ng-multiselect-dropdown>
														</form>

													</td>

													<td class="text-center">
														{{editSelectedIndentor && editSelectedIndentor.indent_quantity
														&&
														getQuantityOfSeedProduced(editSelectedIndentor.indent_quantity)
														|| 0}}
														/
														{{editSelectedIndentor && editSelectedIndentor.indent_quantity
														&&
														getPercentage(editSelectedIndentor.indent_quantity) || 0}}
													</td>
													<td class="text-center m-p-0">
														<table class="table table-bordered">
															<tbody
																*ngIf="editSelectedIndentor && editSelectedIndentor.productions">
																<tr
																	*ngFor="let production of editSelectedIndentor.productions; let productionIndex = index">
																	<td style="min-width: 150px;">{{production.name ||
																		'N/A'}}
																	</td>
																	<td style="min-width: 150px;">
																		<div>
																			<input class="qty-txt" type="text"
																				(keypress)="isNumberKey($event)"
																				step="0.01"
																				(keyup)="editQtyChanged($event, production, productionIndex)"
																				[(value)]="production.quantity">
																		</div>

																	</td>

																</tr>

															</tbody>
														</table>
													</td>

													<td class="text-center">
														{{editSelectedIndentor &&
														editSelectedIndentor.allocated_quantity &&
														getQuantityOfSeedProduced(editSelectedIndentor.allocated_quantity)}}
													</td>
													<td class="text-center">
														{{editSelectedIndentor &&
														editSelectedIndentor.quantity_left_for_allocation &&
														getQuantityOfSeedProduced(editSelectedIndentor.quantity_left_for_allocation)}}
													</td>

													<td class="tex-center">
														<div class="resp_btn">
															<a href="javascript:void(0)"
																class="form-button submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
																(click)="updateVarietyData(editSelectedIndentor)">
																Update
															</a>
														</div>
														<div class="resp_btn">
															<a href="javascript:void(0)"
																class="form-button submit_btn ml-3 d-inline-flex justify-content-center verticle-content-middle mb-3 mr-1"
																(click)="cancelVarietyData(selectedIndentor)">

																Cancel
															</a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div> -->


					<!-- *ngIf="dataToDisplay && dataToDisplay.length > 0" -->
					<!-- *ngIf="isTableVisible || (dataToDisplay && dataToDisplay.length > 0)" -->
					<!-- *ngIf="dataToDisplay && dataToDisplay.length > 0" -->
					<div class="row">

						<div class="col">
							<div class="table-responsive" *ngIf="dataToDisplay && dataToDisplay.length > 0">
								<table class="table table-bordered">
									<thead class="thead">
										<tr>
											<th scope="col" class="text-center">Variety Name</th>
											<th scope="col" class="text-center">Name of Indenters</th>
											<th scope="col" class="text-center">Indented Quantity({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<th scope="col" class="text-center">Name of BSPC</th>
											<th scope="col" class="text-center">Allocated Quantity of BSPC ({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<th scope="col" class="text-center">Total Allocated Quantity ({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<th scope="col" class="text-center">Quantity Left for Allocation({{
												searhedData && IstPartFormGroupControls['cropName'].value &&
												IstPartFormGroupControls['cropName'].value.value ?
												getQuantityMeasure(IstPartFormGroupControls['cropName'].value.value):''}})
											</th>
											<!-- <th scope="col" class="text-center">Action</th> -->

										</tr>
									</thead>
									<tbody>

										<ng-container>
											<ng-container *ngFor="let data of dataToDisplay; let cropIndex = index">
												<ng-container
													*ngFor="let varietyData of data.indentors; let varietyIndex = index">
													<ng-container
														*ngFor="let spaData of varietyData.productions; let spaIndex = index">
														<tr>
															<td *ngIf="spaIndex === 0 && varietyIndex === 0"
																[attr.rowspan]="data.totalVarietyLength">
																<span
																	*ngIf="this.varietyForm.controls['variety_id'].value && !isCropSubmitted">{{data
																	&& data.variety_id ?
																	getVarietyName(data.variety_id): data
																	&& data.variety_name ? data.variety_name
																	:'NA'}}</span>
																<span
																	*ngIf="(this.editVarietyForm.controls['variety_id'].value && this.editVarietyForm.controls['variety_id'].value[0] && this.editVarietyForm.controls['variety_id'].value[0].value) || isCropSubmitted">
																	{{data && data.variety_id ?
																	getVarietyName2(data.variety_id)
																	: 'NA'}}
																</span>
																<br>
																<span>Parental Line:{{data && data.line_name ?
																	(data.line_name)
																	: 'NA'}}</span>

															</td>
															<td class="text-center" *ngIf="spaIndex === 0"
																[attr.rowspan]="varietyData.totalProductionlength">
																{{varietyData && varietyData.name ? varietyData.name :
																'NA'}}

															</td>
															<td class="text-center" *ngIf="spaIndex === 0"
																[attr.rowspan]="varietyData.totalProductionlength">
																{{getQuantityOfSeedProduced(varietyData.indent_quantity)
																||
																'0'}}

															</td>
															<td *ngIf="spaData">
																{{spaData && spaData.agency_name ? spaData.agency_name
																:spaData && spaData.name ? spaData.name:'NA'}}
															</td>
															<td *ngIf="spaData">
																{{getQuantityOfSeedProduced(spaData.quantity) || '0'}}
															</td>
															<td *ngIf="spaIndex === 0"
																[attr.rowspan]="varietyData.totalProductionlength">

																{{getQuantityOfSeedProduced(varietyData.allocated_quantity)
																|| '0'}}
															</td>
															<td *ngIf="spaIndex === 0"
																[attr.rowspan]="varietyData.totalProductionlength">
																{{getQuantityOfSeedProduced(varietyData.quantity_left_for_allocation)
																|| '0'}}
															</td>


														</tr>
													</ng-container>
												</ng-container>

											</ng-container>
										</ng-container>

									</tbody>
                                   <!-- totalData && dataToDisplay.length && varietyDropdownData && ( varietyDropdownData.length == 0) -->
									<tr *ngIf="showgrid1 && totalData && dataToDisplay.length && varietyDropdownData && ( varietyDropdownData.length === 0) && !(this.editVarietyForm.controls['variety_id'].value && this.editVarietyForm.controls['variety_id'].value[0] && this.editVarietyForm.controls['variety_id'].value[0].value)"
										style="font-weight: 700;">
										
										<td></td>
										<td>
											{{totalData.name}}
										</td> 
										<td class="text-center">
											{{getQuantityOfSeedProduced(totalData.indent_quantity) ?? '0'}}
										</td>
										<td></td>
										<td></td>
										<td class="text-center">
											{{getQuantityOfSeedProduced(totalData.allocated_quantity) ?? '0'}}
										</td>
										<td class="text-center">
											{{getQuantityOfSeedProduced(totalData.left_quantity) ?? '0'}}
										</td>
									</tr>

								</table>
							</div>
						</div>
					</div>

					<ng-template #cropSubmitted>
						<div class="row">
							<div class="col" style="text-align: center;">
								<p><b>Crop Wise Submission has been Done.</b></p>
							</div>
						</div>
					</ng-template>

					<div class="row my-2">
						<div class="col">

							<div class="row" *ngIf="!isCropSubmittedNew && isCropSubmitted">
								<div class="col">
									<button *ngIf="isEditingVariety" class="btn submitButtons " type="button"
										(click)="cancelEdit()">
										Cancel
									</button>

									<button *ngIf="selectedVerietyDetail; else disableVarietyBtn"
										class="btn submitButtons ml-2" type="submit">Variety Wise Submission</button>

									<ng-template #disableVarietyBtn>
										<button class="btn submitButtons disabled" disabled>
											Variety Wise Submission</button>

									</ng-template>

									<button
										*ngIf="!isEditingVariety && tempVerietyListDetails && cropButtonEnable && tempVerietyListDetails.length == 0; else disableCropBtn"
										class="btn submitButtons ml-2" type="button" (click)="cropWiseSubmission()">
										Crop Wise Final Submission</button>

									<ng-template #disableCropBtn>
										<button class="btn submitButtons disabled ml-2" disabled>
											Crop Wise Final Submission</button>

									</ng-template>
								</div>


							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</form>