<form [formGroup]="ngForm">
  <div class="main-inventory 1">
    <div class="row">
      <div class="col-12 px-3 mt-2">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-0 pt-1 pb-2">
          TARGET&ACHEVIEMENTS OF SEED REPLACEMENT RATE BY STATE
        </div>

        <!-- first card ui  -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row card-inventory form-group pb-3">
            <!-- start sectio 1  -->
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 pt-1">
              <div class="row for-width">
                <!-- year of indent -->
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 col-sm-6">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-lg-12 col-xl-12">
                      <label for="year" class="left-heading required ">Year of Indent</label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 pr-1">
                      <select class=" form-control input-inventory" formControlName="year">
                        <option value="">Please Select Year</option>
                        <option *ngFor="let year of inventoryYearData" value="{{year.value}}">
                          <!-- {{ year.year }}-{{ ((year.year % 100) + 1) < 10 ? '0' : '' }}{{ (year.year % 100) + 1 }} -->
                          {{year.year}}
                        </option>
                      </select>
                      <div class=" errorMessage"
                        *ngIf="submitted || ngForm.controls['year'].invalid && (ngForm.controls['year'].dirty || ngForm.controls['year'].touched)">
                        <span *ngIf=" ngForm.controls['year'].errors?.['required']">
                          Please Select Year.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  crop -->
                <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-2 pl-1 pr-1">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                      <label for="year" class="left-heading required">Crop</label>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                      <div ngbDropdown class="d-inline-block w-100">
                        <button class="btn takeplacholder w-100 crop toggle-button input-inventory" id="crop"
                          ngbDropdownToggle style="text-align: left;">
                          {{ selectCrop && (selectCrop.length > 30) ?
                          (selectCrop.substring(0,23)
                          + '...') : selectCrop ? selectCrop : 'Select Crop' }}
                        </button>
                        <div class="dropdown-menu w-100" ngbDropdownMenu="crop" aria-labelledby="sortMenu">
                          <input type="text" class="form-control px-4" formControlName="crop_text"
                            placeholder="Search Crop...">
                          <button class="dropdown-item" *ngFor="let item of cropData" (click)="crop(item)" #dropdownItem
                            [attr.data-parent-name]="'crop'">
                            {{ item && item.crop_name ? item.crop_name : '' }}
                          </button>
                        </div>
                      </div>
                      <div class="pl-0 toggle-button" ngbDropdown>
                        <i class="fa-solid fa-angle-down downicon" (click)="cClick()"></i>
                      </div>
                      <div class="errorMessage"
                        *ngIf="submitted || ngForm.controls['crop'].invalid && (ngForm.controls['crop'].dirty || ngForm.controls['crop'].touched)">
                        <span *ngIf="ngForm.controls['crop'].errors?.['required']">
                          Please Select crop Name.
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Seed_type -->
                <div class="col-12 col-md-4 col-lg-4 col-sm-6 col-xl-3 pl-3 pr-1">
                  <div class="row">
                    <div class="col-12">
                      <label for="seedType" class="left-heading required">Seed Type</label>
                    </div>
                    <div class="col-12">
                      <div class="form-check form-check-inline">
                        <div class="row pl-lg-4">
                          <div class="col-lg-2">
                            <input class="radio-button" id="hybrid" (click)="developedBy('Variety')" type="radio"
                              formControlName="seed_type" value="Variety" />
                          </div>
                          <div class="col-lg-9 col-11">
                            <label class="form-check-label font-size-18 radio-btn-class" for="hybrid">Variety</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-check form-check-inline">
                        <div class="row pl-lg-4">
                          <div class="col-lg-2">
                            <input class="radio-button" id="hybrid" (click)="developedBy('Hybrid')" type="radio"
                              formControlName="seed_type" value="Hybrid" />
                          </div>
                          <div class="col-lg-9 col-11">
                            <label class="form-check-label font-size-18 radio-btn-class" for="hybrid">Hybrid</label>
                          </div>
                        </div>
                      </div>

                      <div class="username errorMessage"
                        *ngIf="submitted || ngForm.controls['seed_type'].invalid && (ngForm.controls['seed_type'].dirty || ngForm.controls['seed_type'].touched)">
                        <span *ngIf="ngForm.controls['seed_type'].errors?.['required']">
                          Please Select Seed Type.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Variety Notification Year -->
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 col-sm-6 pl-1 pr-1">

                  <div class="d-flex align-items-end justify-content-center h-100">
                    <button
                      *ngIf="(filterPaginateSearch && filterPaginateSearch.initialized &&(!filterPaginateSearch.itemList) || filterPaginateSearch.itemList.length < 1)"
                      class="btn btn-inventory search2" style="width: 8rem; color: white;" (click)="SaveAsData()"
                      [disabled]="!ngForm.controls['year'].valid ||!ngForm.controls['crop'].valid">Add</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end sectio 1  -->
        <!-- start form -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row card-inventory form-group">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-2" *ngIf="isAddSelected">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-3 pb-2"
                style="text-align: center; background-color:white ; font-size: 24px; font-weight: bold; border: 2px ; padding: 10px;">
                {{this.isChangeMessage}}
              </div>

              <div class="col-12 pt-3 pr-2">
                <div class="row">
                  <!-- minimum srr -->
                  <div class="col-md-12 col-sm-12  col-lg-2 pl-4 ">
                    <label for="srr" class="left-heading required">Minimum Srr</label>
                  </div>
                  <div
                    class="col-md-12 col-sm-11 pl-sm-3 pl-lg-0 pl-4 col-lg-9 ml-xs-3 px-sm-4 pr-sm-4 col-11 col-xs-3 pl-sm-4 pr-sm-4 pl-md-4 pr-mr-4">
                    <input type="text" class="form-control" formControlName="acheiveSrr" readonly>

                  </div>
                </div>
                <!-- target for next year -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-3 pb-2"
                  style="text-align: center; background-color:white ; font-size: 24px; font-weight: bold; border: 2px ; padding: 10px;margin-top: 10px;">

                  Target for next year
                </div>
                <div class="col-12 pt-3 px-4">
                  <div class="row">
                    <div class="col-sm-12 col-md-2 pl-3">
                      <label for="" class="left-heading required"> <span style="color:black">1.</span> Planned Area
                        under crop</label>
                    </div>
                    <div class="col-sm-12 col-md-4 pr-4">
                      <input type="text" class="form-control input-format input-border not_date"
                        formControlName="plannedAreaUnderCropInHa" (input)="validate($event)" />
                      <div class="username errorMessage"
                        *ngIf="submitted ||ngForm.controls['plannedAreaUnderCropInHa'].invalid && ngForm.controls['plannedAreaUnderCropInHa'].dirty || ngForm.controls['plannedAreaUnderCropInHa'].touched">
                        <span *ngIf=" ngForm.controls['plannedAreaUnderCropInHa'].errors?.['required']">
                          Please Enter value
                        </span>


                      </div>

                    </div>
                    <div class="col-sm-12 col-md-2 pl-3">
                      <label for="" class="left-heading required"><span style="color:black">2.</span>Seed Rate(in
                        Quital/National)</label>
                    </div>
                    <div class="col-sm-12 col-md-4 in_sel_box pr-4">
                      <input type="text" class="form-control" formControlName="seedRateInQtPerHt"
                        placeholder="Enter seedRateInQtPerHt" (input)="validate($event)" />
                      <div class="username errorMessage"
                        *ngIf="submitted ||ngForm.controls['seedRateInQtPerHt'].invalid && ngForm.controls['seedRateInQtPerHt'].dirty || ngForm.controls['plannedAreaUnderCropInHa'].touched">
                        <span *ngIf=" ngForm.controls['seedRateInQtPerHt'].errors?.['required']">
                          Please Enter value
                        </span>


                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 pt-3 px-4">
                  <div class="row">
                    <div class="col-sm-12 col-md-2 pl-3">
                      <label for="" class="left-heading required"><span style="color:black">3.</span> Planned Quantity
                        of seed Quantity</label>
                    </div>
                    <div class="col-sm-12 col-md-4 pr-4">
                      <input type="text" class="form-control input-format input-border not_date"
                        formControlName="plannedSeedQuanDis" (input)="validate($event)" />
                      <div class="username errorMessage"
                        *ngIf="submitted ||ngForm.controls['seedRateInQtPerHt'].invalid && ngForm.controls['seedRateInQtPerHt'].dirty || ngForm.controls['plannedAreaUnderCropInHa'].touched">
                        <span *ngIf=" ngForm.controls['seedRateInQtPerHt'].errors?.['required']">
                          Please Enter value
                        </span>

                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2 pl-3">
                      <label for="" class="left-heading required"><span style="color:black">4.</span> Planned SRR(in
                        %)</label>
                    </div>
                    <div class="col-sm-12 col-md-4 in_sel_box pr-4">
                      <span>{{ formatNumber(ngForm.controls['plannedSrr'].value) }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-inventory pl-3 pb-2"
                  style="text-align: center; background-color:white ; font-size: 24px; font-weight: bold; border: 2px ; padding: 10px;">

                  Acheivedment for Select year
                </div>
                <div class="row">
                  <!-- Target Section -->
                  <div class="col-md-6 col-sm-12 pt-3 px-4">
                    <div class="row">
                      <div class="col-sm-12 col-md-2 pl-3">
                        <label for="" class="left-heading text-underline">Target</label>
                      </div>

                    </div>
                    <div class="row">
                      <!-- Planned Area Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheivePlannedAreaUnderCropInHa"
                            class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">5.</span> Planned Area Under Crop (in Hectares):
                          </label>
                          <div class="col-sm-12 col-md-4 pr-4">
                            <span>{{ ngForm.controls['acheivePlannedAreaUnderCropInHa'].value }}</span>

                          </div>
                        </div>
                      </div>
                      <!-- Seed Rate Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheiveSeedRateInQtPerHt" class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">6.</span>Seed Rate (In Quintal/Hectares):
                          </label>
                          <div class="col-sm-12 col-md-4 pr-4">
                            <span>{{ ngForm.controls['acheiveSeedRateInQtPerHt'].value }}</span>
                          </div>
                        </div>
                      </div>
                      <!-- Planned Quantity Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheivePlannedSeedQuanDis" class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">7.</span> Planned Quantity of Seed Distribution (in Quintal):
                          </label>
                          <div class="col-md-4">
                            <span>{{ ngForm.controls['acheivePlannedSeedQuanDis'].value }}</span>
                          </div>
                        </div>
                      </div>
                      <!-- Planned SRR Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheivePlannedSrr" class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">8.</span>Planned SRR (in %):
                          </label>
                          <div class="col-md-4">
                            <span>{{ ngForm.controls['acheivePlannedSrr'].value }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Achievement section -->
                  <div class="col-md-6 col-sm-12 pt-3 px-4">
                    <div class="row">
                      <div class="col-sm-12 col-md-2 pl-3 text-right-custom">
                        <label for="" class="left-heading text-underline">Achievement</label>
                      </div>

                    </div>
                    <div class="row">
                      <!-- Planned Area Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheivePlannedAreaUnderCropInHa"
                            class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">9.</span> Area Under Crop (in Hectares):
                          </label>
                          <div class="col-md-4">
                            <input type="text" class="form-control" formControlName="areaSownUnderCropInHa"
                              placeholder="Enter value" (input)="validate($event)" />

                          </div>
                        </div>
                      </div>
                      <!-- Seed Rate Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheiveSeedRateInQtPerHt" class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">10.</span> Seed Rate (In Quintal/Hectares):
                          </label>
                          <div class="col-md-4">
                            <input type="text" class="form-control" formControlName="seedRateAcheived"
                              placeholder="Enter value" (input)="validate($event)" />
                          </div>
                        </div>
                      </div>
                      <!-- Planned Quantity Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheivePlannedSeedQuanDis" class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">11.</span> Quantity of Seed Distribution (in Quintal):
                          </label>
                          <div class="col-md-4">
                            <input type="text" class="form-control" formControlName="seedQuanDis"
                              placeholder="Enter Value" (input)="validate($event)" />
                          </div>
                        </div>
                      </div>
                      <!-- Planned SRR Section -->
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label for="acheivedSrr" class="col-md-8 col-form-label left-heading text-wrap">
                            <span style="color:black">12.</span> Achieved SRR (in %):
                            <br>
                            ((11/10)/9)*100=12
                          </label>
                          <div class="col-md-4">
                            <span>{{ formatNumber(ngForm.controls['acheivedSrr'].value) }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- button section -->
                <div class="col-12 col-md-10 col-lg-10 pt-4 pb-2 buttons-phone col-xl-10">
                  <button
                    class="btn-inventory-cancel search d-inline-flex justify-content-center verticle-content-middle mb-3"
                    style="border: 2px solid #B64B1D;" (click)="revertDataCancelation()">Cancel</button>
                  <button
                    class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                    (click)="createAndSave()" style="border: 2px solid #B64B1D;" *ngIf="!is_update">Add</button>

                  <button
                    class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                    (click)="updateForm()" *ngIf="is_update">Update</button>

                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- end form -->
        <!--Start DataGrid -->
        <!-- <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isShowTable">
          <div class="row card-inventory form-group">
            <div class="col-12">
              <table class="table table-bordered table-striped table-responsive">
                <thead style="background: #B64B1D 0% 0% no-repeat padding-box; color: white">
                  <tr>
                    <th>S/N</th>
                    <th>Seed Type</th>
                    <th>Crop</th>
                    <th>Min SRR</th>
                    <th colspan="2">Total Area Sown</th>
                    <th colspan="2">Seed Rate</th>
                    <th colspan="2">Total Seed Distribution</th>
                    <th colspan="2">Seed Replacement Rate</th>
                    <th>Actions</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Current Year</th>
                    <th>Next Year</th>
                    <th>Current Year</th>
                    <th>Next Year</th>
                    <th>Current Year</th>
                    <th>Next Year</th>
                    <th>Current Year</th>
                    <th>Next Year</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of filterPaginateSearch.itemList; let dataIndex = index">
                    <td>
                      {{
                      (filterPaginateSearch.itemListCurrentPage - 1) *
                      filterPaginateSearch.itemListPageSize +
                      dataIndex +
                      1
                      }}
                    </td>
                    <td>{{ data?.seed_type || "N/A" }}</td>
                    <td>{{ data?.crop_name || "N/A" }}</td>
                    <td>{{ data?.srr || "N/A" }}</td>
                    <td>{{ formatNumber(data?.areaSownUnderCropInHa) || 0 }}</td>
                    <td>{{ formatNumber(data?.NextYearAreaUnderCropInHa) || 0 }}</td>
                    <td>{{ formatNumber(data?.seedRateAcheived) || 0 }}</td>
                    <td>{{ formatNumber(data?.NextYearseedRateInQtPerHt) || 0 }}</td>
                    <td>{{formatNumber(data?.seedQuanDis) || 0 }}</td>
                    <td>{{ formatNumber(data?.NextYearSeedQuanDis) || 0 }}</td>
                    <td>{{ formatNumber(data?.acheivedSrr) || 0 }}</td>
                    <td>{{ formatNumber(data?.NextYearSrr) || 0 }}</td>
                    <td>
                      <button class="list-action-buttons" style="cursor: pointer;" (click)="patchDataForUpdate(data)">
                        <img src="assets/images/Vector.svg">
                      </button>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>        -->



        <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf="isShowTable">

            <div class="row card-inventory form-group">
              <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
               <!-- <div class="table-responsive custom-scroll">
  <div class="grid-header">
    <div>S/N</div>
    <div>Seed Type</div>
    <div>Crop</div>
    <div>Min SRR</div>
    <div>Total Area Sown<br>Previous Year</div>
    <div>Total Area Sown<br>Current Year</div>
    <div>Seed Rate<br>Previous Year</div>
    <div>Seed Rate<br>Current Year</div>
    <div>Total Seed Distribution<br>Previous Year</div>
    <div>Total Seed Distribution<br>Current Year</div>
    <div>Actions</div>
  </div>
   <div style="max-height: 500px; overflow-y: auto;">
                                                <div *ngFor="let data of dummyData; let dataIndex=index"
                                                    class="row data-row">
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <label class="d-md-none"
                                                                class="d-md-none"><b>S/N:</b>&nbsp;</label>
                                                            <span title="{{ dataIndex + 1 }}">{{ dataIndex + 1
                                                                }}.</span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <label class="d-md-none"
                                                                class="d-md-none"><b>year:</b>&nbsp;</label>
                                                            <span>{{data && data.year ? data.year: ""}}</span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <span>
                                                                {{data && data.season ? data.season : ""}}

                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <span>
                                                                {{data && data.crop_name ? data.crop_name : ""}}

                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-1 d-flex align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <span>
                                                                {{data && data.variety_name ? data.variety_name : ""}}
                                                            </span>
                                                        </div>
                                                    </div>



                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <label class="d-md-none"
                                                                class="d-md-none"><b>View:</b>&nbsp;</label>
                                                            <span>
                                                                <a style="color:blue;text-decoration: underline; cursor: pointer;"
                                                                    (click)="getSeedData(data.id,'Cs')">View</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <label class="d-md-none"
                                                                class="d-md-none"><b>View:</b>&nbsp;</label>
                                                            <span>
                                                                <a
                                                                    style="color:blue;text-decoration: underline; cursor: pointer;" (click)="getSeedData(data.id,'Qs')">View</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <span>
                                                                {{data&&data.total?formatNumber(data.totalCs) : 0}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <span>
                                                                {{data&&data.total?formatNumber(data.totalQs) : 0}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div class="w-fit-content">
                                                            <span>
                                                                {{data&&data.total?formatNumber(data.total) : 0}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-6 col-md-1 py-3 d-flex verticle-content-middle align-items-center justify-content-center text-center">
                                                        <div
                                                            class="list-action-buttons-wrapper w-fit-content phone_view_action_btn col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-2 d-flex align-items-center justify-content-center text-center">

                                                            <button class="list-action-buttons" style="cursor: pointer;"
                                                                (click)="patchDataForUpdate(data)"
                                                                [disabled]="freezeData">
                                                                <img src="assets/images/Vector.svg"
                                                                    [ngStyle]="{'opacity': freezeData ? '0.5' : '1', 'cursor': freezeData ? 'not-allowed' : 'pointer'}">
                                                            </button>
                                                            

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
</div> -->
<div class="table-responsive custom-scroll">

  <!-- HEADER -->
  <div class="row  data-row-header grid-header">
    <div>S/N</div>
    <div>Seed Type</div>
    <div>Crop</div>
    <div>Min SRR</div>
    <div>Total Area Sown<br>Previous Year</div>
    <div>Total Area Sown<br>Current Year</div>
    <div>Seed Rate<br>Previous Year</div>
    <div>Seed Rate<br>Current Year</div>
    <div>Total Seed Distribution<br>Previous Year</div>
    <div>Total Seed Distribution<br>Current Year</div>
    <div>Actions</div>
  </div>

  <!-- BODY -->
<!-- BODY -->
<div style="max-height: 500px;">
  <div
    class="row data-row grid-body"
    *ngFor="let data of filterPaginateSearch.itemList; let i = index"
    style="display: flex; border-bottom: 1px solid #ddd; padding: 8px 0; align-items: center;">

    <div  style="flex: 0 0 80px;">{{ (filterPaginateSearch.itemListCurrentPage - 1) * filterPaginateSearch.itemListPageSize + i + 1 }}</div>
    <div style="flex: 0 0 120px ;">{{ data?.seed_type || 'N/A' }}</div>
    <div style="flex: 0 0  180px;">{{ data?.crop_name || 'N/A' }}</div>
    <div style="flex: 0 0 100px;">{{ data?.srr || 'N/A' }}</div>
    <div style="flex: 0 0 200px;">{{ formatNumber(data?.areaSownUnderCropInHa) || 0 }}</div>
    <div style="flex: 0 0 200px;">{{ formatNumber(data?.NextYearAreaUnderCropInHa) || 0 }}</div>
    <div style="flex: 0 0 180px;">{{ formatNumber(data?.seedRateAcheived) || 0 }}</div>
    <div style="flex: 0 0 180px;">{{ formatNumber(data?.NextYearseedRateInQtPerHt) || 0 }}</div>
    <div style="flex: 0 0 220px;">{{ formatNumber(data?.seedQuanDis) || 0 }}</div>
    <div style="flex: 0 0 220px;">{{ formatNumber(data?.NextYearSeedQuanDis) || 0 }}</div>

    <div style="flex: 0 0 120px;">
      <button class="list-action-buttons" (click)="patchDataForUpdate(data)">
        <img src="assets/images/Vector.svg" />
      </button>
    </div>

  </div>
</div>

</div>


                <!-- <div *ngIf="(dummyData&&dummyData.length< 1)" class="px-2 py-3 w-100"
                                            style="height: 50px;">
                                            <div class="d-flex verticle-content-middle justify-content-center w-100">
                                                No Data Found.
                                            </div>
                                        </div> -->

              </div>
              <div class="col-12 col-md-10 col-lg-10 pt-4 pb-2 buttons-phone col-xl-10 ">

                <!-- <button
                                class="search form-button btn-inventory ml-2 d-inline-flex justify-content-center verticle-content-middle mb-3"
                                (click)="finalizeData()" [disabled]="freezeData"
                                [ngClass]="{'activeBtn': !freezeData, 'disableBtn': freezeData}"
                                [ngStyle]="{'border': freezeData ? '2px solid #DCDCDC' : '2px solid #B64B1D'}"
                                >
                                Submit
                            </button> -->


              </div>
              <div class="col-12 col-md-12 col-lg-12 px-4 px-md-3 py-1 pb-4 pl-4">
                <app-pagination-ui></app-pagination-ui>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</form>