<div class="main-inventory">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 title-inventory pl-2 pb-3 pt-0">
            <span class="ml-3">
                PD/PC or BSPC Login Screen
            </span>
            <form [formGroup]="ngForm">

                <!-- first card ui  -->
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="row card-inventory form-group align-items-end">
                        <!-- Year of Indent -->
                        <div class="col-12 col-xl-10 col-md-12 col-lg-12 pt-4">
                            <div class="row">
                                <!-- year of indent -->
                                <div class="col-12 col-md-12 col-lg-12 col-xl-4 col-sm-12 mb-3 ">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="year" class="label-inventory required">Year</label>
                                        </div>
                                        <div class="col-12">
                                            <select class="form-control input-inventory" formControlName="year">
                                                <option value="">Please Select Year</option>

                                                <!-- <option *ngFor="let year of inventoryYearData" [value]="year.year">
                                                    {{ year.year }}
                                                </option> -->
                                                <option value="2028">2029-30</option>
                                                <option value="2027">2028-29</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <!-- season  -->
                                <div class="col-12 col-md-12 col-lg-12 col-xl-4 col-sm-12 mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="year" class="label-inventory required">Season</label>
                                        </div>
                                        <div class="col-12">
                                            <select class="form-control input-inventory" formControlName="season">
                                                <option value="">Please Select Season</option>
                                                <!-- <option *ngFor="let s of inventorySeasonData" [value]="s.season">
                                                    {{ s.season }}
                                                </option> -->
                                                <option value="Kharif">Kharif</option>
                                                <option value="Rabi">Rabi</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- crop -->
                                <div class="col-12 col-md-4 col-lg-4 col-sm-12 mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="year" class="label-inventory required">Crop</label>
                                        </div>
                                        <div class="col-12">
                                            <select class="form-control input-inventory" formControlName="crop_code">
                                                <option value="">Please Select Crop</option>
                                                <!-- <option *ngFor="let c of inventoryCropData" [value]="c.crop_code">
                                                    {{ c.crop_name }}
                                                </option> -->
                                                <option value="A0502">Jute</option>
                                                <option value="A0210">Sorgum</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <!-- second ui  -->
                <div class="col-12 col-md-12 col-lg-12 pt-3" *ngIf="isCrop">
                    <div class="row card-inventory form-group">
                        <div class="col-12">
                            <div class="row">
                                <!-- Search and Filter Container -->
                                <div
                                    class="col-12 d-flex align-items-center justify-content-end flex-wrap mb-2 gap-3 pt-3">
                                    <!-- Search Input -->
                                    <div class="d-flex align-items-end gap-2 flex-wrap">
                                        <input type="text" class="form-control search-input rounded-pill px-3"
                                            placeholder="Search Keyword" formControlName="global_search"
                                            style="max-width: 250px; border: 1px solid #c96a2b; height: 38px;" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!--third ui -->
                <div class="col-12 col-md-12 col-lg-12 pt-0" *ngIf="isCrop">
                    <div class="row card-inventory form-group">
                        <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12">
                            <div class="list-wrapper">
                                <!-- Header Row -->
                                <div class="row d-none d-md-flex data-row-header">
                                    <div
                                        class="col-md-3 d-flex align-items-center justify-content-center border-end justify-content-center">
                                        Variety Name
                                    </div>

                                    <div
                                        class="col-md-2 py-2 d-flex align-items-center justify-content-center border-end justify-content-center">
                                        Tentative Quantity (qtl)
                                    </div>

                                    <div
                                        class="col-md-3 d-flex align-items-center justify-content-center border-end ">
                                        Foundation Seed(qtl)
                                    </div>

                                    <div class="col-md-3 d-flex align-items-center justify-content-center border-end">
                                        Certified Seed(qtl)
                                    </div>

                                    <div class="col-6 col-md-1 py-2 d-flex verticle-content-middle"
                                        *ngIf="!isFinalSubmitButtonHide">
                                        SPA Assign
                                    </div>
<div class="col-6 col-md-1 py-2 d-flex verticle-content-middle"
                                        *ngIf="isFinalSubmitButtonHide">
                                        SPA 
                                    </div>
                                </div>


                                <!-- Dynamic Rows -->
                                <div formArrayName="bspc" *ngIf="bspc && bspc.controls">
                                    <div class="row data-row" *ngFor="let data of bspc.controls; let i = index"
                                        [formGroupName]="i">
                                        <!-- S.No -->


                                        <!-- Variety Name -->
                                        <div
                                            class="col-md-3 d-flex align-items-center justify-content-center border-end justify-content-center">
                                            <label class="d-md-none"><b>Variety Name:</b>&nbsp;</label>
                                            <span>
                                                {{ ngForm.controls['bspc']['controls'][i].controls['variety_name'].value
                                                }}
                                            </span>
                                        </div>

                                        <!-- Target Breeder Seed Quantity -->
                                        <div class="col-md-2 py-2 d-flex align-items-center justify-content-center border-end justify-content-center"
                                            style="position: relative;">

                                            <div class="form-group w-100 px-2">
                                                <label class="d-md-none">
                                                    <b>Tentative Quantity (qtl):</b>
                                                </label>

                                                <!-- CLICK Event Only -->
                                              <span class="d-block text-center">
  {{
    ngForm.controls['bspc']['controls'][i].controls['breeder_seed'].value
  }}
</span>

                                                <!-- Popup ONLY when clicked -->
                                                <!-- <div *ngIf="popupIndex === i" class="custom-popup">
                                                    <div *ngFor="let d of inventoryIndentorData">
                                                        <b>{{ d.user_name }}</b>: {{ d.breeder_seed }}
                                                    </div>
                                                </div> -->
                                            </div>


                                        </div>
                                        <!-- Willingness Toggle -->
                                        <div class="col-md-3 d-flex align-items-center justify-content-center border-end justify-content-center"
                                            style="position: relative;">

                                            <div class="form-group w-100 px-2">
                                                <label class="d-md-none">
                                                    <b>Foundation Seed (qtl):</b>
                                                </label>

                                                <!-- CLICK Event Only -->
                                                <span  class="d-block text-center">
                                                    {{
                                                    ngForm.controls['bspc']['controls'][i].controls['foundation_seed'].value
                                                    }}
                                                </span>

                                            </div>


                                        </div>
                                        <div class="col-md-3 d-flex align-items-center justify-content-center verticle-content-middle"
                                            style="position: relative;">

                                            <div class="form-group w-100 px-2">
                                                <label class="d-md-none">
                                                    <b>Certified Seed (qtl):</b>
                                                </label>

                                                <!-- CLICK Event Only -->
                                                <span  class="d-block text-center">
                                                    {{
                                                    ngForm.controls['bspc']['controls'][i].controls['certified_seed'].value
                                                    }}
                                                </span>

                                                <!-- Popup ONLY when clicked -->
                                                <!-- <div *ngIf="popupIndex === i" class="custom-popup">
                                                    <div *ngFor="let d of inventoryIndentorData">
                                                        <b>{{ d.user_name }}</b>: {{ d.breeder_seed }}
                                                    </div>
                                                </div> -->
                                            </div>


                                        </div>
                                        <!-- Tentative Breeder Seed Quantity -->
                                        <!-- <div class="col-md-3 d-flex align-items-center justify-content-center border-end "
                                           >
                                            <div class="form-group w-100 px-2">
                                                <label class="d-md-none"><b>Tentative Quantity:</b>&nbsp;</label>
                                                <input type="number" class="form-control target-input-field"
                                                    (keypress)="checkDecimal($event)"
                                                    (keypress)="checkLength($event, 10)"
                                                    formControlName="tentative_quantity"
                                                    [readonly]="isFinalSubmitButtonHide"
                                                    (input)="checkTentativeValue(i)" />
                                            </div>
                                        </div> -->

                                        <!-- Button Add Replacement Variety -->
                                        <div class="col-6 col-md-1 py-2 d-flex verticle-content-middle"  *ngIf="!isFinalSubmitButtonHide">
                                            <button
                                                class="form-button d-flex justify-content-center verticle-content-middle"
                                                (click)="addReplaceVarieties(i)"
                                                
                                                style="width: 100px !important; background-color: #B64B1D; color: white; border: none; border-radius: 6px;">
                                                Add
                                            </button>
                                        </div>
                                         <div class="col-6 col-md-1 py-3 d-flex verticle-content-middle"
                                                *ngIf="isFinalSubmitButtonHide" style="padding-right: 2rem!important;">


                                                <!-- FINAL SUBMIT KE BAAD REPLACE COUNT -->
                                                <a style="cursor:pointer; text-decoration: underline; color:#007bff;"
                                                    (click)="openReplaceSwal(bspc.controls[i].get('assign_spa')?.value)">
                                                    {{ bspc.controls[i].get('assign_spa')?.value?.length || 0 }}
                                                </a>
                                            </div>
                                        <div class="col-12 px-3"
                                            *ngIf="openCropIndexes.includes(i) && !isFinalSubmitButtonHide"
                                            formArrayName="assign_spa">

                                            <div class="row inner-row variety-block"
                                                *ngFor="let group of getInnerBspc(i).controls; let j = index"
                                                [formGroupName]="j" style="margin-bottom:0; padding-top:0;">

                                                <!-- Inputs Column -->
                                                <div class="col-xl-11 col-12" style="padding:0;">
                                                    <div class="row g-2"> <!-- reduced gutter -->

                                                        <!-- Variety Name -->
                                                        <div class="col-12 col-md-6">
                                                            <label class="label-inventorys mb-1">SPA
                                                                Name</label>
                                                            <div ngbDropdown
                                                                class="d-inline-block w-100 position-relative">
                                                                <button
                                                                    class="btn takeplacholder w-100 crop toggle-button text-start"
                                                                    [id]="'destination' + i" ngbDropdownToggle>
                                                                    {{ group.get('spa_name')?.value || 'Select
                                                                    Variety' }}
                                                                </button>
                                                                <i
                                                                    class="fa-solid fa-angle-down downicon position-absolute end-0 top-50 translate-middle-y pe-2"></i>
                                                                <div ngbDropdownMenu class="w-100">
                                                                    <button type="button"
                                                                        class="dropdown-item text-start"
                                                                        *ngFor="let v of dropdownList22"
                                                                      (click)="selectReplaceVariety(i,j,v)">
                                                                        {{ v.spa_name }}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Tentative Breeder Seed Qty -->
                                                        <div class="col-12 col-md-6">
                                                            <label class="label-inventorys mb-1">Tentative Breeder
                                                                Seed
                                                                Qty (QTL.)</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="certified_seed_quantity"
                                                                 (input)="validateSpaQuantity(i,j)"
                                                                placeholder="Enter Quantity">
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- Buttons Column -->
                                                <div class="col-xl-1 col-12 d-flex align-items-center"
                                                    style="display: flex;">
                                                    <button class="list-action-buttons-second ml-lg-3  mt-md-2 "
                                                      *ngIf="getSpaTotalQuantity(i) < getMainQuantity(i)"
                                                        (click)="addInnerRow(i)">
                                                        <img src="assets/images/Add.png">
                                                    </button>
                                                    <button *ngIf="getInnerBspc(i).controls.length > 1"
                                                        class="list-action-buttons-second ml-lg-3  mt-md-2 "
                                                        (click)="removeInnerRow(i,j)">
                                                        <img src="assets/images/delete.png">
                                                    </button>
                                                </div>

                                                <!-- Separator Line -->
                                                <div class="col-12 px-0" style="padding-top: 10px;">
                                                    <hr class="separator m-0">
                                                    <!-- added space -->
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>




                            </div>

                            <!-- No Data Message -->
                            <div *ngIf="
          filterPaginateSearch &&
          filterPaginateSearch.initialized &&
          (!filterPaginateSearch.itemList || filterPaginateSearch.itemList.length < 1)
        " class="px-2 py-3 w-100 text-center" style="height: 50px;">
                                No Data Found.
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Buttons -->
                <div *ngIf="isCrop" class="col-12 pt-2">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button *ngIf="!isFinalSubmitButtonHide" class="clear-form-button btn-inventory mb-3"
                                (click)="revertDataCancelation()">
                                Cancel
                            </button>
                        </div>
                        <div class="col-auto">
                            <button *ngIf="!isFinalSubmitButtonHide" class="clear-form-button btn-inventory mb-3"
                                (click)="saveAsDraft()">
                                Save as Draft
                            </button>
                        </div>
                        <div class="col-auto">
                            <button *ngIf="!isFinalSubmitButtonHide" (click)="finalizeData()"
                                class="clear-form-button btn-inventory mb-3">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>