.data-row-header {
    background: #E97E15 0% 0% no-repeat padding-box;
}

.data-row-header * {
    font: normal Poppins 600 15px/19px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.data-row {
    border: 1px solid #B2C7D7;
    border-top: none !important;
}

.data-row * {
    font: normal Poppins bold 15px/18px;
    letter-spacing: 0px;
    /* color: #000000; */
}

.extra-header {

    background-color: #963814;
    font: normal Poppins 16px/25px;
}

.middle_line {
    margin-top: 1px;
}

tr td {
    /* background-color:rgb(0, 26, 255); */
    /* color: rgb(0, 26, 255); */
      color: black;
}

.v2 {
    /* background-color: red; */
    color: red;
}

.page-numbers,
.page-numbers:focus,
.page-numbers:active {
    outline: none !important;
    border: 1px solid #E97E15;
    box-shadow: none !important;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    font: normal normal bold 18px/22px Roboto;
    letter-spacing: 0px;
    color: #E97E15;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.page-numbers.active {
    border: none !important;
    background: #E97E15 0% 0% no-repeat padding-box !important;
    color: #FFFFFF !important;
}

.enter-page-wrapper {
    width: 211px;
    height: 47px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E97E15;
    border-radius: 5px;
}

.enter-page-wrapper input {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    height: 44px;
    border-radius: 5px;
    width: calc(100% - 75px);
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);
}

.enter-page-wrapper input.active {
    color: #000000 !important;
}

.enter-page-wrapper button {
    width: 72px !important;
    height: 40px !important;
    margin-top: 2.5px;
}

@media screen and (min-width:640px) and (max-width: 700px) {
    .next-paginate {
        margin-top: -48px;
        position: absolute;
        left: 88px;
    }
}

.states_detail:nth-child(odd) {
    color: rgb(255, 0, 0) !important;
}

.states_detail:nth-child(even) {
    color: rgb(0, 26, 255);
}

td {
    /* min-width: 76px !important; */
    min-width: 95px !important;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffafa;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.left-heading {
    text-align: left;
    font: normal Poppins;
    letter-spacing: 0px;
    color: #2329ff;
    font-weight: 600;
    opacity: 1;
}


.search_txt {
    text-align: left;
    font: normal Poppins;
    letter-spacing: 0px;
    color: #2329ff;
    font-weight: 600;
    opacity: 1;
}

.tdStyle {
    color: #fff !important;
    background-color: #e97e15;
    font-weight: 500;
}

.freeze-button {
    width: 400px;
}

#cursor {
    cursor: pointer;
}

span {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

@media screen and (max-width: 500px) {
    .freeze-button{
        margin-left: 15px !important;
    }
    
}
.freeze-grey {
    background: #c1c1c1 0% 0% no-repeat padding-box;
}

.td-width{
    width: 400px;
}

.table>thead>tr>.type {
    min-width: 100px;
    max-width: 200px;
}

.table>thead>tr>.key {
    min-width: 100px;
}

.Variety {
    min-width: 350px !important;
    max-width: 350px !important;
}

.breeder {
    min-width: 100px !important;
    max-width: 100px !important;
}
.total {
    min-width: 100px !important;
    max-width: 100px !important;
}
@media screen and (min-width:1100px)  {
    .tabledata {
       /* min-width: 91em; */
    }
}